a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, td, video, tt,
u, ul, 
var{
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
table, table td{ 
	padding:0;
	border:none;
	border-collapse:collapse;
}
img{
	vertical-align:top;
	border: 0;
}
embed{ 
	vertical-align:top;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clear{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary{
    display: block;
}
textarea{
    overflow: auto;
    vertical-align: top;
}
:focus,
:active,
:hover{
    outline: none;
}
*{
	padding: 0;
	margin: 0;
}
*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
	width: 100%; 
	min-width: 320px;
	background: #fff;
	font-family: 'avenirnextcyr_medium', sans-serif;
	color: #231f20;
	font-size: 16px;
	line-height: 1;
}
a{	
	color: #12498a;
	text-decoration: none;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
ul,
li,
ol{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
img{
	max-width: 100%;
	height: auto;
}
input,
textarea,
select{	
	font-family: 'avenirnextcyr_medium', sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;  
	border-radius: 0;
	-webkit-border-radius: 0;
}

/*------------------------------------------------------------
Fonts
------------------------------------------------------------*/

@font-face {
	font-family: 'avenirnextcyr_medium';
	src: url('../fonts/subset-AvenirNextCyr-Medium.eot');
	src: url('../fonts/subset-AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-AvenirNextCyr-Medium.woff2') format('woff2'),
		url('../fonts/subset-AvenirNextCyr-Medium.woff') format('woff'),
		url('../fonts/subset-AvenirNextCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'avenirnextcyr_bold';
	src: url('../fonts/subset-AvenirNextCyr-Bold.eot');
	src: url('../fonts/subset-AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-AvenirNextCyr-Bold.woff2') format('woff2'),
		url('../fonts/subset-AvenirNextCyr-Bold.woff') format('woff'),
		url('../fonts/subset-AvenirNextCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/*------------------------------------------------------------
Wrapper
------------------------------------------------------------*/

.layout{
	overflow-x: hidden;
}
.wrapper{
	margin: 0 auto;
}
.wrapper-b{
	max-width: 1440px;
}
.wrapper-s{
	max-width: 800px;
}
.wrapper:before,
.wrapper:after{
    content: "";
    display: table;
}
.wrapper:after{
    clear: both;
}

/*------------------------------------------------------------
Table helpers
------------------------------------------------------------*/

.table-helper{
	display: table;
	width: 100%;
	height: 100%;
}
.table-helper-vamiddle{
	display: table-cell;
	vertical-align: middle;
}

/*------------------------------------------------------------
Header
------------------------------------------------------------*/

.adaptive-header{
	display: none;
	padding: 25px 15px 25px 70px;
	position: relative;
	font-size: 0;
}
.adaptive-menu-container{
	position: fixed;
	width: 340px;
	height: 100%;
	left: -100%;
	background: #ccc;
	padding: 30px;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
	z-index: 9999;
	overflow-y: auto;
}
.adaptive-menu-container.open{
	left: 0;
}
.adaptive-menu-close{
	position: absolute;
	right: 15px;
	top: 15px;
	color: #000;
	font-size: 42px;
	line-height: 23px;
	width: 23px;
	height: 23px;
}
.adaptive-menu-close:hover{
	color: #00b1e4;
}
.adaptive-menu__item{
	margin: 0 0 15px 0;
}
.adaptive-menu__item-link{
	font-size: 20px;
	font-family: 'avenirnextcyrbold', sans-serif;
}
.adaptive-menu-toggler{
	padding: 10px;
	position: absolute;
	top: 25px;
	left: 15px;	
	width: 40px;
	height: 40px;
	background: #00b1e4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.adaptive-menu-toggler:hover{
	background: #12498a;
}
.adaptive-menu-toggler span{
    background: #fff;
    display: block;
    height: 3px;
    width: 20px;
}
.adaptive-menu-toggler span:nth-child(1){
    top: 0;
    margin: 0 0 6px 0;
}
.adaptive-menu-toggler span:nth-child(2){
    margin: 0 0 6px 0;
}






.header{
	font-size: 0;
}
.header-logo-col{
	display: inline-block;
	vertical-align: middle;
	width: 15%;
}
.header-menu-col{
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	padding: 0 5px;
}
.main-menu{
	font-size: 0;
	text-align: center;
}
.main-menu__item{
	display: inline-block;
}
.main-menu__item-link{
	display: block;
	padding: 0 28px;
	color: #646464;
	font-size: 12px;
	line-height: 100px;
	text-transform: uppercase;
}
.main-menu__item-link--active,
.main-menu__item-link:hover{
	background: #4290a9;
	color: #fff;
}
.header-contacts-col{
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	text-align: right;
}
.header-address{
	color: #404040;
	font-size: 12px;
	line-height: 18px;
}
.header-tel-link{
	font-family: 'avenirnextcyr_bold', sans-serif;
	color: #646464;
	font-size: 14px;
	line-height: 18px;
}
.header-email{
	margin: 3px 0 0 0;
}
.header-callback-col{
	display: inline-block;
	vertical-align: middle;
	width: 10%;
}
.header-email-link{
	color: #0064ab;
	font-size: 12px;
	line-height: 18px;
	border-bottom: 1px solid #0064ab;
}
.header-email-link:hover{
	border: none;
}
.header-callback-btn{
	padding: 40px 0 0 0;
	display: inline-block;
	position: relative;
	font-family: 'avenirnextcyr_bold', sans-serif;
	color: #4c4c4c;
	font-size: 10px;
	line-height: 13px;
	text-transform: uppercase;
	text-align: center;
}
.header-callback-btn:hover{
	color: #4290a9;
}
.header-callback-btn:before{
	position: absolute;
	left: 50%;
	top: 0;
	content: "";
	background: url(../images/i/callback-ico.png) no-repeat;
	width: 33px;
	height: 33px;
	margin: 0 0 0 -16px;
}
.adaptive-header{
	display: none;
}

/*------------------------------------------------------------
Main slider container
------------------------------------------------------------*/

.main-slider-item{
	height: 665px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}
.main-slider-content{
	height: 100%;
	width: 480px;
}
.main-slider .wrapper{
	height: 100%;
}
.main-slider-item__title{
	margin: 0 0 30px 0;
	padding: 0 0 35px 0;
	position: relative;
	font-family: 'avenirnextcyr_bold', sans-serif;
	color: #fff;
	font-size: 32px;
	line-height: 36px;	
	text-transform: uppercase;
}
.main-slider-item__title:after{
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	height: 3px;
	width: 100%;
	background: rgba(0, 177, 228, 0.3);
}
.main-slider-item__description{
	margin: 0 0 65px 0;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
}
.main-slider-btn{
	position: relative;
	display: inline-block;
	padding: 22px 50px;
	background: transparent;
	border: 5px solid #00ff00;
	color: #fff;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.main-slider-btn:hover{
	color: #fff;
	background: #00ff00;
}
.main-slider .owl-dots{
	width: 1440px;
	left: 50%;
	margin: 0 0 0 -720px;
	position: absolute;
	bottom: 80px;
	height: 5px;
	font-size: 0;
	text-align: right;
}
.main-slider.owl-carousel .owl-dot{
	display: inline-block;
	margin: 0 0 0 10px;
	width: 50px;
	height: 5px;
	background: #adc8d1;
}
.main-slider.owl-carousel .owl-dot.active,
.main-slider.owl-carousel .owl-dot:hover{
	background: #00ff00;
}

/*----------------------------------------------------------------
Arenda container
----------------------------------------------------------------*/

.arenda-container{
	padding: 60px 0 44px 0;
}
.arenda-container .wrapper{
	padding: 0;
}
.arenda-container .wrapper-b{
	max-width: 100%;
}
.arenda-block-title{
	margin: 0 0 30px 0;
	font-family: 'avenirnextcyr_bold', sans-serif;
	color: #737373;
	font-size: 24px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.arenda-filter-block{
	position: relative;
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	font-size: 0;
	text-align: center;
}
.arenda-filter-block:after{
	position: absolute;
	left: 50%;
	bottom: 0;
	content: "";
	background: rgba(0, 177, 228, 0.3);
	width: 162px;
	height: 3px;
	margin: 0 0 0 -81px;
}
.arenda-filter-col{
	display: inline-block;
	padding: 0 16px;
}
.arenda-filter-btn{
	display: block;
	padding: 10px;
	width: 160px;
	border: 1px solid #99e2fb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #32798d;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.arenda-filter-btn:hover,
.arenda-filter-btn--active{
	background: #00b1e4;
	border: 1px solid #00b1e4;
	color: #fff;
}
.arenda-slider-block{
	display: none;
}
.arenda-slider-block.active{
	display: block;
}
.arenda-sliders-container{
	position: relative;
}
.arenda-preloader{
	background: #fff;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;	
	z-index: 99999;
}
.arenda-preloader:before{
	position: absolute;
	left: 50%;
	top: 50%;
	content: "";
	width: 100px;
	height: 100px;
	background: #00b1e4;
	margin: -50px 0 0 -50px;
}
.arenda-slider{
	padding: 0 180px;
}
.arenda-item{
	text-align: center;	
}
.arenda-item:hover .arenda-item__img:before{
	opacity: 0;
	visibility: hidden;
}
.arenda-item__img{
	position: relative;
}
.arenda-item__img:before{
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	opacity: 1;
	visibility: visible;
	background: rgba(0, 177, 228, 0.3);
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.arenda-body{
	padding: 50px 0 0 0;
	width: 190px;
	margin: 0 auto;
}
.arenda-item__title{
	margin: 0 0 12px 0;
	font-family: 'avenirnextcyr_bold', sans-serif;
	color: #2c7c92;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
}
.arenda-item__description{
	color: #737373;
	font-size: 12px;
	line-height: 14px;
}
.arenda-btn-block{
	margin: 50px 0 0 0;
	text-align: center;
}
.arenda-btn{
	display: inline-block;
	padding: 10px 21px;
	background: #cad6dd;
	border: 3px solid #cad6dd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	color: #5fb0c9;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.arenda-btn:hover{
	background: #cad6dd;
	color: #fff;
}
.arenda-slider.owl-carousel .owl-nav div{
	position: absolute;
	top: 0;
	width: 80px;
	height: 100%;
	background-color: #fff;
	text-indent: -99999px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.arenda-slider.owl-carousel .owl-nav div:hover{
	background-color: #72c2d8;
}
.arenda-slider.owl-carousel .owl-nav .owl-next{
	right: 0;
	background-image: url(../images/i/arenda-slider-right-arrow-blue.png);
	background-repeat: no-repeat;
	background-position: center;
}
.arenda-slider.owl-carousel .owl-nav .owl-prev{
	left: 0;
	background-image: url(../images/i/arenda-slider-left-arrow-blue.png);
	background-repeat: no-repeat;
	background-position: center;
}
.arenda-slider.owl-carousel .owl-nav .owl-next:hover{
	background-image: url(../images/i/arenda-slider-right-arrow-white.png);
}
.arenda-slider.owl-carousel .owl-nav .owl-prev:hover{
	background-image: url(../images/i/arenda-slider-left-arrow-white.png);
}

/*----------------------------------------------------------------
Advantage container
----------------------------------------------------------------*/

.advantage-container{
	padding: 50px 0 0;
	background: #f5fafa;
}
.advantage-heading{
	max-width: 960px;
	margin: 0 auto 31px auto;
	padding: 0 0 25px 0;
	position: relative;
	text-align: center;
}
.advantage-heading:before{
	position: absolute;
	left: 50%;
	bottom: 0;
	content: "";
	background: rgba(0, 177, 228, 0.3);
	width: 162px;
	height: 3px;
	margin: 0 0 0 -81px;
}
.advantage-heading__title{
	margin: 0 0 15px 0;
	font-family: "avenirnextcyr_bold", sans-serif;
	color: #737373;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.advantage-heading__description{
	color: #737373;
	font-size: 12px;
	line-height: 21px;
}
.advantage-list{
	font-size: 0;
	text-align: center;
}
.advantage-col{
	display: inline-block;
}
.advantage-col-4{
	width: 33.3333%;
}
.advantage-col-8{
	width: 66.6666%;
}
.advantage-item--big{
	height: 665px;
}
.advantage-item--small{
	height: 300px;
}
.advantage-item__content{
	height: 319px;
}
.advantage-item--small .advantage-item__content{
	height: 100%;
}
.advantage-item--small .advantage-item__content{
	padding: 0 15px;
}
.advantage-item__ico{
	position: relative;
	height: 346px;
	overflow: hidden;
}
.advantage-item__ico-inner{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.advantage-item--taganka .advantage-item__ico-inner{
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.advantage-item--metro{
	position: relative;
	background: #fb3f3f;
}
.advantage-item--metro:before{
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	width: 100%;
}
.advantage-item--transport{
	background: #80ffb3;
}
.advantage-item--taganka{
	background: #fff3df;
}
.advantage-item--businessclass{
	background: #5791aa;
}
.advantage-item--infrastructure{
	background: #b254af;
}
.advantage-item--placement{
	background: #ce2f2f;
}
.advantage-item--promanagment{
	background: rgba(246, 146, 40, 0.9);
}
.advantage-item--businesscenter{
	background: rgba(246, 146, 40, 0.7);
}
.advantage-item--machineplaces{
	background: #ce2f2f;
}
.advantage-item__name{
	margin: 0 0 40px 0;
	font-family: 'avenirnextcyr_bold', sans-serif;
	font-size: 25px;
	line-height: 30px;
	text-transform: uppercase;
}
.advantage-item__description{
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}
.advantage-item__text{
	font-size: 21px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.advantage-item__text--botbordered{
	position: relative;
	padding: 0 0 40px 0;
}
.advantage-item__text--botbordered:after{
	position: absolute;
	left: 50%;
	bottom: 0;
	content: "";
	background: rgba(255, 255, 255, 0.3);
	width: 162px;
	height: 3px;
	margin: 0 0 0 -81px;
}
.advantage-item__name--white,
.advantage-item__description--white,
.advantage-item__text--white{
	color: #fff;
}
.advantage-item__name--blue,
.advantage-item__description--blue{
	color: #045d76;
}

/*----------------------------------------------------------------
Arendator container
----------------------------------------------------------------*/

.arendator-container{
	padding: 62px 0 75px 0;
}
.arendator-block-title{
	margin: 0 0 70px 0;
	padding: 0 0 25px 0;
	position: relative;
	font-family: "avenirnextcyrbold", sans-serif;
	color: #737373;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.arendator-block-title:after{
	position: absolute;
	left: 50%;
	bottom: 0;
	content: "";
	background: rgba(0, 177, 228, 0.3);
	width: 162px;
	height: 3px;
	margin: 0 0 0 -81px;
}
.arendator-list{
	font-size: 0;
}
.arendator-col{
	display: inline-block;
	width: 20%;
	padding: 0 15px;
}
.arendator-item{
	text-align: center;
}

/*----------------------------------------------------------------
Advert container
----------------------------------------------------------------*/

.advert-container{
	padding: 75px 0 0 0;
	height: 710px;
	background: url(../images/advert-bg.jpg) center top no-repeat;
	background-size: cover;
	overflow: hidden;
}
.advert-block-title{
	margin: 0 0 19px 0;
	padding: 0 0 30px 0;
	position: relative;
	font-family: 'avenirnextcyr_bold', sans-serif;
	color: #fff;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}
.advert-block-title:after{
	position: absolute;
	left: 50%;
	bottom: 0;
	content: "";
	background: rgba(0, 177, 228, 0.3);
	width: 162px;
	height: 3px;
	margin: 0 0 0 -81px;
}
.advert-board{
	width: 845px;
	height: 567px;
	margin: 0 auto;
	padding: 110px 120px;
	background: url(../images/advert-board-bg.png) no-repeat;
}
.advert-board-row{
	margin: 0 -30px;
}
.advert-board-col{
	float: left;
	width: 50%;
	padding: 0 30px
}
.advert-board-col p{
	color: #3d5d6d;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
}

/*----------------------------------------------------------------
Question container
----------------------------------------------------------------*/

.question-container{
	padding: 75px 0 69px 0;
}
.question-block-title{
	margin: 0 0 47px 0;
	padding: 0 0 30px 0;
	position: relative;	
	font-family: 'avenirnextcyr_bold', sans-serif;
	color: #767676;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}
.question-block-title:after{
	position: absolute;
	left: 50%;
	bottom: 0;
	content: "";
	background: rgba(0, 177, 228, 0.3);
	width: 162px;
	height: 3px;
	margin: 0 0 0 -81px;
}
.question-form-row:before,
.question-form-row:after{
    content: "";
    display: table;
}
.question-form-row:after{
    clear: both;
}
.question-form-row{
	margin: 0 -9px 14px -9px;
}
.question-form-col-12{
	padding: 0 9px;
}
.question-form-col-6{
	float: left;
	width: 50%;
	padding: 0 9px;
}
.question-form-input{
	height: 37px;
	width: 100%;
	border: 1px solid #c0d8e3;
	padding: 0 16px;
	color: #90abbb;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
}
.question-form-input::-webkit-input-placeholder,
.question-form-textarea::-webkit-input-placeholder{
	color: #90abbb;
	opacity: 1;
}
.question-form-input::-moz-placeholder,
.question-form-textarea::-moz-placeholder{
	color: #90abbb;
	opacity: 1;
}
.question-form-input:-moz-placeholder,
.question-form-textarea:-moz-placeholder{
	color: #90abbb;
	opacity: 1;
}
.question-form-input:focus::-webkit-input-placeholder,
.question-form-textarea:focus::-webkit-input-placeholder,
.question-form-input.question-form-input-error:focus::-webkit-input-placeholder{
	color: transparent;
	opacity: 0;
}
.question-form-input:focus::-moz-placeholder,
.question-form-textarea:focus::-moz-placeholder,
.question-form-input.question-form-input-error:focus::-moz-placeholder{
	color: transparent;
	opacity: 0;
}
.question-form-input:focus:-moz-placeholder,
.question-form-textarea:focus:-moz-placeholder,
.question-form-input.question-form-input-error:focus:-moz-placeholder{
	color: transparent;
	opacity: 0;
}
.question-form-input.question-form-input-error::-webkit-input-placeholder{
	color: #ee4a36;
	opacity: 1;
}
.question-form-input.question-form-input-error::-moz-placeholder{
	color: #ee4a36;
	opacity: 1;
}
.question-form-input.question-form-input-error:-moz-placeholder{
	color: #ee4a36;
	opacity: 1;
}
.question-form-textarea{
	width: 100%;
	height: 182px;
	border: 1px solid #c0d8e3;
	padding: 12px 16px;
	color: #90abbb;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	resize: none;
}
.question-form-submit-row{
	margin: 47px 0 0 0;
	font-size: 0;
	text-align: right;
}
.question-form-submit-col{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 38px;
}
.question-form-submit{
	display: inline-block;
	width: 254px;
	height: 54px;
	border: none;
	background: #4290a9;
	font-family: 'avenirnextcyr_bold', sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
.question-form-submit:hover{
	opacity: 0.8;
}

/*----------------------------------------------------------------
Footer
----------------------------------------------------------------*/

.footer{
	height: 450px;
	position: relative;
}
.footer-contacts-block{
	width: 530px;
	height: 100%;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	background: #fff;
	padding: 40px 45px 0 77px;
}
#footer-map{
	height: 100%;
}
.footer-contacts-block__contact-list{
	float: left;
	width: 320px;
}
.footer-menu__item{
	margin: 0 0 5px 0;
}
.footer-menu__item-link{
	font-family: 'avenirnextcyr_bold', sans-serif;
	color: #646464;
	font-size: 12px;
	line-height: 23px;
	text-transform: uppercase;
}
.footer-menu__item-link:hover{
	color: #4290a9;
}
.footer-address{
	margin: 20px 0 0 0;
	color: #404040;
	font-size: 15px;
	line-height: 18px;
}
.footer-tel-list{
	margin: 20px 0 0 0;
}
.footer-tel-item{
	margin: 0 0 3px 0;
}
.footer-tel-link{
	color: #646464;
	font-size: 15px;
	line-height: 18px;
}
.footer-email-link{
	color: #0064ab;
	font-size: 15px;
	line-height: 18px;
	text-decoration: underline;	
}
.footer-email-link:hover{
	text-decoration: none;
}
.footer-poweredby{
	margin: 60px 0 0 0;
}
.footer-contacts-block__soc-list{
	float: right;
}
.soc-item{
	float: left;
	margin: 0 0 0 7px;
}
.soc-item__link{
	display: block;
	width: 34px;
	height: 34px;
}
.soc-item__link-vk{
	background: url(../images/i/vk-ico.jpg) no-repeat;
}
.soc-item__link-ig{
	background: url(../images/i/ig-ico.jpg) no-repeat;
}
.soc-item__link:hover{
	opacity: 0.8;
}

/*----------------------------------------------------------------
Modal
----------------------------------------------------------------*/

.modal{
	display: none;
	width: 624px;
	background: #fff;
	padding: 70px 80px;
}
.modal-title{
	margin: 0 0 30px 0;
    color: #1d1d1d;
    font-size: 24px;
    line-height: 1;
}
.modal-form-row{
	margin: 0 -20px 15px -20px;
}
.modal-form-row:last-child{
	margin: 0 -20px 0 -20px;
}
.modal-form-col-6{
	float: left;
	width: 50%;
	padding: 0 20px;
}
.modal-form-col-12{
	width: 100%;
	padding: 0 20px;
}
.modal-form-input{
	width: 100%;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #d4d4d4;
	background: #fff;
	padding: 10px 0;
	color: #a3a3a3;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
}
.modal-form-input-error{
	border: 1px solid #ee4a36;
	color: #ee4a36;
}
.modal-form-input:focus{
	background: #fff;
}
.modal-form-input::-webkit-input-placeholder{
	color: #a3a3a3;
	opacity: 1;
}
.modal-form-input::-moz-placeholder{
	color: #a3a3a3;
	opacity: 1;
}
.modal-form-input:-moz-placeholder{
	color: #a3a3a3;
	opacity: 1;
}
.modal-form-input:focus::-webkit-input-placeholder,
.modal-form-input.modal-form-input-error:focus::-webkit-input-placeholder{
	color: transparent;
	opacity: 0;
}
.modal-form-input:focus::-moz-placeholder,
.modal-form-input.modal-form-input-error:focus::-moz-placeholder{
	color: transparent;
	opacity: 0;
}
.modal-form-input:focus:-moz-placeholder,
.modal-form-input.modal-form-input-error:focus:-moz-placeholder{
	color: transparent;
	opacity: 0;
}
.modal-form-input.modal-form-input-error::-webkit-input-placeholder{
	color: #ee4a36;
	opacity: 1;
}
.modal-form-input.modal-form-input-error::-moz-placeholder{
	color: #ee4a36;
	opacity: 1;
}
.modal-form-input.modal-form-input-error:-moz-placeholder{
	color: #ee4a36;
	opacity: 1;
}
.modal-form-submit{
	width: 100%;
	height: 44px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #ee4a36;
	color: #fff;
	font-size: 16px;
	line-height: 42px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
.modal-form-submit:hover{
	background: #12498a;
}

/*----------------------------------------------------------------
Adaptive styles
----------------------------------------------------------------*/

@media only screen and (max-width: 1440px){

	.wrapper{
		padding: 0 15px;
	}
	.wrapper-b,
	.wrapper-s{
		width: 100%;
	}

	.header-menu-col{
		width: 55%;
	}
	.main-menu__item-link{
		padding: 0 10px;
	}
	.header-contacts-col{
		width: 20%;
		padding: 0 5px;
	}


	.main-slider .owl-dots{
		padding: 0 15px;
		width: 100%;
		margin: 0;
		left: 0;		
	}


}


@media only screen and (max-width: 1200px){
	
	.header-logo-col{
		width: 20%;
	}
	.header-menu-col{
		width: 65%;
	}
	.header-contacts-col{
		display: none;
	}
	.header-callback-col{
		width: 15%;
	}


	.arenda-slider{
		padding: 0 100px;
	}

}

@media only screen and (max-width: 1000px){
	
	.header{
		display: none;
	}
	.adaptive-header{
		display: block;
	}
	.adaptive-header-left-col{
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		padding: 0 15px 0 0;
	}
	.adaptive-header-right-col{
		display: inline-block;
		vertical-align: middle;
		width: 20%;
		text-align: right;
	}
	.header-callback-btn{
		display: inline-block;
	    background: url(../images/i/callback-ico.png) no-repeat;
	    width: 33px;
	    height: 33px;
	    padding: 0;
	}
	.header-callback-btn:before{
		left: auto;
		right: 15px;
		margin: 0;
		background: no-repeat;
	}



	.arenda-filter-col{
		padding: 0 10px;
	}
	.arenda-slider{
		padding: 0 80px;
	}
	.arenda-body{
		width: auto;
	}


	.advantage-heading{
		padding: 0 15px 25px 15px;
	}
	.advantage-col-4,
	.advantage-col-8{
		width: 50%;
	}
	.advantage-item--big.advantage-item--taganka{
		height: 300px;
	}
	.advantage-item--taganka .advantage-item__ico{
		display: none;
	}



	.arendator-col{
		margin: 0 0 30px 0;
		width: 33.3333%;
	}


	.advert-container{
		padding: 50px 0;
		height: auto;
	}
	.advert-board{
		width: 100%;
		height: auto;
		background: transparent;
		padding: 0;
	}
	.advert-board-row{
		margin: 0 -15px;
	}
	.advert-board-col{
		padding: 0 15px;
	}
	.advert-board-col p{
		color: #fff;
	}


	.footer{
		height: auto;
	}
	.footer-contacts-block{
		padding: 30px 15px;
		width: auto;
		position: static;
	}
	.footer-contacts-block__contact-list{
		margin: 0 0 15px 0;
		float: none;
		width: 100%;
	}
	.footer-poweredby{
		margin: 30px 0 0 0;
	}
	.footer-contacts-block__soc-list{
		float: none;
	}
	.soc-item{
		margin: 0 7px 0 0;
	}
	#footer-map{
		height: 400px;
	}
	
}


@media only screen and (max-width: 767px){
	
	.arenda-container,
	.arendator-container,
	.advert-container,
	.question-container{
		padding: 30px 0;
	}
	.advantage-container{
		padding: 30px 0 0 0;
	}

	

	.main-slider-item{
		height: 600px;
	}




	
	
	.arenda-filter-col{
		width: 50%;
		margin: 0 0 10px 0;
	}
	.arenda-filter-btn{
		width: 100%;
	}


	.advantage-item__ico{
		display: none;
	}
	

	
	.advantage-item{
		padding: 0 15px;
	}
	.advantage-item--big,
	.advantage-item--small,
	.advantage-item--big.advantage-item--taganka,
	.advantage-item__content{
		height: 250px;
	}
	.advantage-item__name{
		margin: 0 0 30px 0;
		font-size: 20px;
		line-height: 24px;
	}
	.advantage-item__text{
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0;
	}



	.arendator-col{
		width: 50%;
	}
	.arendator-col:last-child{
		margin: 0;
	}
	.advert-board-col{
		margin: 0 0 20px 0;
		width: 100%;
	}
	.advert-board-col:last-child{
		margin: 0;
	}




}

@media only screen and (max-width: 640px){

	.main-slider-content{
		width: 100%;
	}
	.main-slider-item__title{
		margin: 0 0 20px 0;
		padding: 0 0 25px 0;
		font-size: 24px;
		line-height: 30px;
	}
	.main-slider-item__description{
		margin: 0 0 30px 0;
		line-height: 24px;
	}
	.main-slider-btn{
		width: 100%;
		padding: 22px 10px;
		font-size: 16px;
		text-align: center;
	}
	.main-slider .owl-dots{
		bottom: 15px;
		text-align: center;
	}
	
	
	.advantage-col-4,
	.advantage-col-8{
		width: 100%;
	}



	
	.question-form-row{
		margin: 0 -9px;
	}
	.question-form-col-6{
		width: 100%;
		margin: 0 0 15px 0;
	}
	.question-form-submit-row{
		margin: 25px 0 0 0;
	}
	.question-form-submit-col{
		margin: 0 0 15px 0;
		display: block;
		text-align: center;
	}
	.question-form-submit-col:last-child{
		margin: 0;
	}
	.question-form-submit{
		width: 100%;
	}


}

@media only screen and (max-width: 480px){
	
	.adaptive-menu-container{
		width: 270px;
	}
	.modal{
		padding: 0;
		width: 230px;
	}



	.arendator-col{
		width: 100%;
	}

}