a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, 
em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, 
meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, td, video, tt,
u, ul, var {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}
ol,
ul,
li {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;	
}
blockquote,
q {
	quotes: none;
}
table,
table td { 
	padding: 0;
	border: none;
	border-collapse: collapse;
}
embed { 
	vertical-align: top;
}
.video embed,
.video object,
.video iframe {
	width: 100%;
    height: auto;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
article,
aside,
details,
figcaption,
main,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
:focus,
:active,
:hover {
    outline: none;
}
* {
	padding: 0;
	margin: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	overflow-x: hidden;
}
html,
body {
	min-width: 320px;
	background: #fff;
	font-family: 'DINCyrLight', sans-serif;
	color: #333;
	font-size: 16px;
	line-height: 1;
}
a {	
	color: #005598;
	text-decoration: none;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 100%;
	height: auto;
}
input,
textarea,
select {	
	font-family: 'DINCyrBold', sans-serif;
	color: #333;
	-webkit-appearance: none;
	-moz-appearance: none; 
	border-radius: 0;
	-webkit-border-radius: 0;
}

/*------------------------------------------------------------
Fonts
------------------------------------------------------------*/

@font-face {
    font-family: 'DINCyrBlack';
    src: url('../fonts/subset-DINCyr-Black.eot');
    src: url('../fonts/subset-DINCyr-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-DINCyr-Black.woff') format('woff'),
        url('../fonts/subset-DINCyr-Black.ttf') format('truetype'),
        url('../fonts/subset-DINCyr-Black.svg#DINCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'DINCyrLight';
    src: url('../fonts/subset-DINCyr-Light.eot');
    src: url('../fonts/subset-DINCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-DINCyr-Light.woff') format('woff'),
        url('../fonts/subset-DINCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DINCyrMedium';
    src: url('../fonts/subset-DINCyr-Medium.eot');
    src: url('../fonts/subset-DINCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-DINCyr-Medium.woff') format('woff'),
        url('../fonts/subset-DINCyr-Medium.ttf') format('truetype'),
        url('../fonts/subset-DINCyr-Medium.svg#DINCyr-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'DINCyrBold';
    src: url('../fonts/subset-DINCyr-Bold.eot');
    src: url('../fonts/subset-DINCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-DINCyr-Bold.woff') format('woff'),
        url('../fonts/subset-DINCyr-Bold.ttf') format('truetype'),
        url('../fonts/subset-DINCyr-Bold.svg#DINCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*------------------------------------------------------------
Wrapper
------------------------------------------------------------*/

.layout {
	height: 100%;
	min-height: 100%;
	position: relative;
}
.wrapper {
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;	
}
.wrapper:before,
.wrapper:after {
    content: "";
    display: table;
}
.wrapper:after {
    clear: both;
}

/*------------------------------------------------------------
Block title
------------------------------------------------------------*/

.block-title {
	font-family: 'DINCyrBlack', sans-serif;
	color: #213775;
	font-size: 54px;
}
.bordered-title {
	position: relative;
}
.bordered-title:after {
	position: absolute;
	left: 0;
	bottom: 3px;
	content: "";
	width: 100%;
	height: 3px;
	background: #27b1eb;
}

/*------------------------------------------------------------
Table helpers
------------------------------------------------------------*/

.table-helper {
	display: table;
	width: 100%;
	height: 100%;
}
.table-helper-vamiddle {
	display: table-cell;
	vertical-align: middle;
}

/*------------------------------------------------------------
Adaptive header
------------------------------------------------------------*/

.header-menu--open,
.header-menu--open body {
	overflow: hidden;
	height: 100vh;
	height: 100%;
}
.adaptive-menu-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
	background: #fff;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 150px;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
.adaptive-menu-container.adaptive-menu-container--open {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.adaptive-menu {
	height: 100%;
	overflow-y: auto;
}
.adaptive-menu__item {
	border-bottom: 1px solid #e5e5e5;
}
.adaptive-menu__item:last-child {
	border: none;
}
.adaptive-menu__link {
	position: relative;
	display: block;
	padding: 20px 20px 20px 0;
	font-family: 'PFSquareSansPro-Medium', sans-serif;
	font-size: 18px;
}
.adaptive-menu__link-hassub:after {
	position: absolute;
	right: 2px;
	top: 0;
	bottom: 0;
	content: "";
	background: url(../images/i/i-right-arrow-blue.png) no-repeat; 
	width: 5px;
	height: 9px;
	margin: auto;
	-webkit-transition: rotate 0.4s ease 0s;
	-o-transition: rotate 0.4s ease 0s;
	transition: rotate 0.4s ease 0s;
}
.adaptive-menu__link-hassub--active:after {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}	
.adaptive-submenu {
	display: none;
}
.adaptive-menu-toggle {
	display: none;
	position: absolute;
	top: 50%;
	right: 15px;
	width: 32px;
	height: 32px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #ff9e15;
	border: 1px solid #ff9e15;
	margin: -16px 0 0 0;
}
.menu-toggle-inner {
	width: 16px;
	height: 12px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.menu-toggle-line {
	position: absolute;
    background: #fff;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
    display: block;
    margin: auto;
    height: 2px;
    width: 16px;
}
.menu-toggle-line--1 {
    top: 0;
    -webkit-transition: width 0.2s ease 0.4s;
	-o-transition: width 0.2s ease 0.4s;
	transition: width 0.2s ease 0.4s;
}
.menu-toggle-line--2 {
	top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: width 0.2s ease 0.3s;
	-o-transition: width 0.2s ease 0.3s;
	transition: width 0.2s ease 0.3s;
}
.menu-toggle-line--3 {
	bottom: 0;
    -webkit-transition: width 0.2s ease 0.2s;
	-o-transition: width 0.2s ease 0.2s;
	transition: width 0.2s ease 0.2s;
}
.menu-toggle-line--4,
.menu-toggle-line--5 {
	opacity: 0;
	top: 5px;
}
.menu-toggle-line--4 {
	-webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
    transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
    -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s;
    -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s;
}
.menu-toggle-line--5 {
	-webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
    transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
    -o-transition: opacity 0.2s ease 0s, -o-transform 0.2s ease 0s;
    -moz-transition: opacity 0.2s ease 0s, transform 0.2s ease 0s, -moz-transform 0.2s ease 0s;
}
.adaptive-menu-toggle--open {
	background: #fff;
	border: 1px solid #dad8d6;
}
.adaptive-menu-toggle--open .menu-toggle-line {
	background: #dad8d6;
}
.adaptive-menu-toggle--open .menu-toggle-line--1 {
	width: 0;
	-webkit-transition: width 0.2s ease 0s;
	-o-transition: width 0.2s ease 0s;
	transition: width 0.2s ease 0s;
}
.adaptive-menu-toggle--open .menu-toggle-line--2 {
	width: 0;
	-webkit-transition: width 0.2s ease 0.1s;
	-o-transition: width 0.2s ease 0.1s;
	transition: width 0.2s ease 0.1s;
}
.adaptive-menu-toggle--open .menu-toggle-line--3 {
	width: 0;
	-webkit-transition: width 0.2s ease 0.2s;
	-o-transition: width 0.2s ease 0.2s;
	transition: width 0.2s ease 0.2s;
}
.adaptive-menu-toggle--open .menu-toggle-line--4 {
	opacity: 1;
	-webkit-transform: rotate(45deg) translateZ(0);
	-ms-transform: rotate(45deg) translateZ(0);
	-o-transform: rotate(45deg) translateZ(0);
	transform: rotate(45deg) translateZ(0);
	-webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
    transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
    -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s;
    -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s;
}
.adaptive-menu-toggle--open .menu-toggle-line--5 {
	opacity: 1;
	-webkit-transform: rotate(-45deg) translateZ(0);
	-ms-transform: rotate(-45deg) translateZ(0);
	-o-transform: rotate(-45deg) translateZ(0);
	transform: rotate(-45deg) translateZ(0);
	-webkit-transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s;
    transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s;
    -o-transition: opacity 0.2s ease 0.4s, -o-transform 0.2s ease 0.4s;
    -moz-transition: opacity 0.2s ease 0.4s, transform 0.2s ease 0.4s, -moz-transform 0.2s ease 0.4s;
}
/*------------------------------------------------------------
Header
------------------------------------------------------------*/

.header {
	padding: 20px 0;
	height: 933px;
	background: url(../images/header-bg.jpg) center top no-repeat;
}
.header-top {
	padding: 0 50px;
	letter-spacing: -10px;
}
.header-top__logo,
.header-top__menu,
.header-top__contacts {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
}
.header-top__logo,
.header-top__contacts {
	width: 20%;
}
.header-top__menu {
	width: 60%;
}

.header-top__contacts {
	text-align: right;
}



/*------------------------------------------------------------
Header menu
------------------------------------------------------------*/

.header-menu {
	letter-spacing: -10px;
	text-align: center;
}
.header-menu__item { 
	display: inline-block;
	position: relative;
	letter-spacing: 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.header-menu__link {
	display: block;	
	padding: 15px 23px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	font-family: 'DINCyrMedium', sans-serif;
	color: #fff;
	text-decoration: underline;
	text-transform: uppercase;
}
.header-menu__item:hover,
.header-menu__link:hover {
	background: #ebebeb;
	color: #213775;
	text-decoration: none;
}
.header-submenu {
	position: absolute;
	left: 0;
	top: 100%;
	width: 185px;
	background: #eaeaea;
	z-index: 4;
	opacity: 0;
	/*visibility: hidden;
	transition-property: opacity, visibility;
    transition-duration: .2s, .2s;
    transition-delay: .25s, .25s;  */
}
.header-menu__item:hover .header-submenu {
	opacity: 1;
    visibility: visible;
}
.header-submenu__link {
	display: block;
	background: #f9f9f9;
	padding: 16px 5px;
	font-family: 'DINCyrMedium', sans-serif;
	color: #213775;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.header-submenu__link:hover {
	background: #25afe8;
	border-top: 1px solid #249dd7;
	border-bottom: 1px solid #249dd7;
	color: #fff;
	text-decoration: none;
}




.header-heading {
	margin: 60px 0 0 0;
	text-align: center;
}
.header-heading__title {
	margin: 0 0 22px 0;
	font-family: 'DINCyrBlack', sans-serif;
	color: #fff;
	font-size: 54px;
}
.header-heading__description {
	color: #213775;
	font-size: 22px;
	line-height: 1.2;
}



.header-top__contacts-in {
	display: inline-block;
	text-align: left;
}
.header-top__contacts-in {
	padding: 0 0 0 45px;
	position: relative;
}
.header-top__contacts-in:before {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	background: url(../images/i/i-tel-blue.png) no-repeat;
	width: 26px;
	height: 31px;
}
.header-tel {
	margin: 0 0 5px 0;
}
.header-tel__link {
	font-family: 'DINCyrBold', sans-serif;
	color: #fefeff;
	font-size: 26px;
}
.header-address {
	color: #fefeff;
	font-size: 14px;
}









/*------------------------------------------------------------
Order container
------------------------------------------------------------*/

.order-container {
	border-top: 1px solid #efefef;
	background: url(../images/order-bg.jpg) repeat;
	padding: 52px 0 48px;
	text-align: center;
}
.order-form--inline {
	display: inline-block;
	-webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 15px 30px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 15px 30px 0px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.order-container__notify {
	margin: 25px 0 0 0;
	font-family: 'DINCyrLight', sans-serif;
	color: #999;
	font-size: 16px;
	font-style: italic;
}

/*------------------------------------------------------------
Advantage
------------------------------------------------------------*/

.advantage {
	padding: 50px 0 0 0;
	background: #efefef;
	text-align: center;
}
.advantage-row {
	letter-spacing: -10px;
}
.advantage-col {
	display: inline-block;
	width: 33.3333%;
	padding: 0 15px;
	letter-spacing: 0;
	text-align: left;
}
.advantage-item__ico {
	position: relative;
	float: left;
	margin: 0 22px 0 0;
	width: 91px;
	height: 91px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid rgba(68, 109, 159, 0.5);
}
.advantage-item__ico img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.advantage-item__content {
	overflow: hidden;
	padding: 20px 0 0 0;
}
.advantage-item__content-title {
	margin: 0 0 20px 0;
	color: #213775;
	font-size: 20px;
	line-height: 1.2;
	text-transform: uppercase;
}
.advantage-item__content-text {
	line-height: 20px;
}

/*------------------------------------------------------------
Service
------------------------------------------------------------*/

.service {
	padding: 50px 0 95px 0;
	background: #efefef;
	text-align: center;
}
.block-title--service {
	margin: 0 0 15px 0;
	text-align: center;
}
.service__subtitle {
	margin: 0 0 48px 0;
	font-family: 'DINCyrLight', sans-serif;
	color: #213775;
	font-size: 22px;
}
.service-list {
	background: url(../images/service-row-bg.jpg) center bottom no-repeat;
}
.service-row {
	letter-spacing: -10px;
	text-align: left;
}
.service-item {
	display: inline-block;
	width: 33.3333%;
}
.service-item__link {
	position: relative;
	height: 226px;
	overflow: hidden;
	display: block;
	text-align: center;
}
.service-item__link:before {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#1a000000',GradientType=1 );
}
.service-item__img {
	display: block;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.service-item__title {
	position: absolute;
	width: 250px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	letter-spacing: 0;
	font-family: 'DINCyrBold', sans-serif;
	color: #fff;
	font-size: 22px;
	line-height: 1.2;
}
.service-bottom {
	letter-spacing: -10px;
}
.service-bottom__image {
	display: inline-block;
	width: 66.6666%;
	letter-spacing: 0;
	height: 226px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.service-bottom__order {
	position: relative;
	display: inline-block;
	width: 33.3333%;
	letter-spacing: 0;
	height: 226px;
	line-height: 226px;
	background: #27b1eb;
}
.service-bottom__order-btn {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.service-bottom__order-title {
	display: inline-block;
	vertical-align: middle;	
	padding: 0 95px;
	font-family: 'DINCyrBold', sans-serif;
	color: #fff;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}
.service-bottom__order:before {
	position: absolute;
	right: 21px;
	bottom: 21px;
	content: "";
	width: 42px;
	height: 42px;
	background: url(../images/i/i-service-bottom-order.png) center center no-repeat;
}
.service-content {
	margin: 65px 0 0 0;
	text-align: left;
}
.service-content h2 {
	margin: 0 0 20px 0;
	color: #213775;
	font-size: 20px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 400;
}
.service-content p {
	margin: 0 0 20px 0;
	line-height: 20px;
}
.service-content p:last-child {
	margin: 0;
}

/*------------------------------------------------------------
Edges
------------------------------------------------------------*/

.edges {
	padding: 65px 0;
	height: 829px;
	background: url(../images/edges-bg.jpg) no-repeat;
	background-size: cover;
}
.block-title--edges {
	margin: 0 0 40px 0;
	padding: 0 140px 0 0;
	color: #fff;
	display: inline-block;
	position: relative;
}
.block-title--edges:after {
	position: absolute;
	right: 0;
	top: 50%;
	content: "";
	background: url(../images/i/i-shield.png) no-repeat;
	width: 103px;
	height: 98px;
	margin: -49px 0 0 0;
}
.block-title--gradient {
	color: #28b2ec;
}
.edges-row {
	margin: 0 -5px;
	letter-spacing: -10px;
}
.edges-col {
	display: inline-block;
	width: 33.3333%;
	margin: 70px 0 0 0;
	padding: 0 5px;
	letter-spacing: 0;
}
.edges-item {
	display: table;
	width: 100%;
}
.edges-item__ico {
	display: table-cell;
	vertical-align: middle;
	width: 115px;
}
.edges-item__text {
	display: table-cell;
	vertical-align: middle;
	font-family: 'DINCyrLight', sans-serif;
	color: #efefef;
	font-size: 18px;
	line-height: 1.2;
}
.edges-item__text span {
	color: #f9a735;
	text-transform: uppercase;
}

/*------------------------------------------------------------
Works
------------------------------------------------------------*/

.works {
	padding: 75px 0;
	background: #efefef;
}
.block-title--works {
	margin: 0 0 15px 0;
	text-align: center;
}
.works-counter {
	margin: 0 0 30px 0;
	color: #213775;
	font-size: 22px;
	text-align: center;
}
.work-item {
	margin: 70px 0 0 0;
}
.work-item__content-in {
	padding: 0 40% 0 0;
	position: relative;
}
.work-more {
	margin: 55px 0 0 0;
	text-align: center;
	overflow: hidden;
}
.work-more:before,
.work-more:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 1px;
	border: solid #efefef;
	border-width: 0 16px;
	background: #95d3ed;
}
.work-more:before {
	margin-left: -100%;
}
.work-more:after {
	margin-right: -100%;
}
.work-more__btn {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 23px 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #27b1eb;
	font-family: 'DINCyrBold', sans-serif;
	color: #27b1eb;
	font-size: 18px;
	z-index: 1;
	background: #efefef;
}
.work-more__btn:hover {
	background: #27b1eb;
	text-decoration: none;
	color: #fff;
}





/*------------------------------------------------------------
Reviews
------------------------------------------------------------*/

.reviews {
	padding: 50px 0;
	height: 829px;
	background: url(../images/reviews-bg.jpg) no-repeat;
	background-size: cover;
}
.block-title--reviews {
	margin: 0 0 50px 0;
	color: #fff;
	text-align: center;
}
.reviews-description {
	max-width: 945px;
	margin: 0 auto 35px auto;
}
.reviews-description p {
	margin: 0 0 25px 0;	
	color: #27b1eb;
	font-size: 22px;
	line-height: 1.2;
	text-align: center;
}
.reviews-description p:last-child {
	margin: 0;
}
.reviews-delta {
	margin: 0 0 70px 0;
	color: #f7f7f6;
	font-size: 14px;
	text-align: center;
}
.reviews-slider {
	padding: 0 70px;
}
.reviews-slider.owl-carousel .owl-item img {
	width: auto;
	display: inline-block;
}
.reviews-slider__item {
	text-align: center;
}
.reviews-slider__img {
	padding: 8px;
	display: inline-block;
	position: relative;
	text-align: center;
	border: 2px solid transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: border 0.4s ease 0s;
	-o-transition: border 0.4s ease 0s;
	transition: border 0.4s ease 0s;
}
.reviews-slider__img:hover {
	border-color: #39b4e5;
}
.reviews-slider.owl-carousel .owl-nav div {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 52px;
	margin: -26px 0 0 0;
	text-indent: -9999px;
}
.reviews-slider.owl-carousel .owl-nav .owl-next {
	background: url(../images/i/i-slider-arrow-right.png) no-repeat;
	right: 0;
}
.reviews-slider.owl-carousel .owl-nav .owl-next:hover {
	background: url(../images/i/i-slider-arrow-right--hover.png) no-repeat;
}
.reviews-slider.owl-carousel .owl-nav .owl-prev {
	background: url(../images/i/i-slider-arrow-left.png) no-repeat;
	left: 0;
}
.reviews-slider.owl-carousel .owl-nav .owl-prev:hover {
	background: url(../images/i/i-slider-arrow-left--hover.png) no-repeat;
}
.reviews-slider.owl-carousel .owl-dots {
	margin: 30px 0 0 0;
	text-align: center;
	letter-spacing: -10px;
}
.reviews-slider.owl-carousel .owl-dot {
	display: inline-block;
	margin: 0 13px;
	width: 13px;
	height: 13px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #e7e7e7;
}
.reviews-slider.owl-carousel .owl-dot:hover,
.reviews-slider.owl-carousel .owl-dot.active {
	background: #27b1eb;
}



/*------------------------------------------------------------
About
------------------------------------------------------------*/

.about {
	padding: 90px 0 132px;
}





/*------------------------------------------------------------
Partners
------------------------------------------------------------*/

.partners {
	padding: 70px 0 104px;
	background: #efefef;
	text-align: center;
}
.partners-row {
	margin: 0 -25px;
	letter-spacing: -10px;
	text-align: left;
}
.partner-col {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	padding: 0 25px;
	letter-spacing: 0;
}
.partner-item {
	position: relative;
	margin: 45px 0 0;
	height: 140px;
	width: 100%;
	background: #efefef;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 5px 21px 0px rgba(0, 5, 0, 0.14);
	-moz-box-shadow:    0px 5px 21px 0px rgba(0, 5, 0, 0.14);
	box-shadow:         0px 5px 21px 0px rgba(0, 5, 0, 0.14);
	text-align: center;
}
.partner-item:after {
	position: absolute;
	left: -4px;
	top: -4px;
	right: -4px;
	bottom: -4px;
	content: "";
	border: 4px solid #213775;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.partner-item:hover:after {
	opacity: 1;
	visibility: visible;
}
.partner-item:hover {
	background: #fff;
}
.partner-item__img {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*------------------------------------------------------------
Order questions
------------------------------------------------------------*/

.order-container--questions {
	border-bottom: 2px solid #efefef;
}
.block-title--questions {
	margin: 0 0 35px 0;
}

/*------------------------------------------------------------
Map
------------------------------------------------------------*/

.map {
	height: 712px;
}

/*------------------------------------------------------------
Footer
------------------------------------------------------------*/

.footer {
	padding: 35px 0 55px 0;
	border-top: 9px solid #27abe6;
	background: #1c1c1c;
	color: #9c9c9c;
	font-size: 14px;
	line-height: 24px;
}
.footer-top {
	margin: 0 0 50px 0;
	letter-spacing: -10px;
}
.footer__logo,
.footer__copyright,
.footer__policy {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
}
.footer__logo,
.footer__policy {
	width: 25%;
}
.footer__copyright {
	width: 50%;
	padding: 0 15px;
	text-align: center;
}
.footer__copyright p {
	
}
.footer__policy {
	text-align: right;
}
.footer__policy-link {
	display: inline-block;
	padding: 0 0 0 50px;
	position: relative;
	color: #9c9c9c;
	line-height: 1.2;
	text-align: left;
}
.footer__policy-link:before {
	position: absolute;
	left: 0;
	top: 50%;
	content: "";
	background: url(../images/i/i-policy.png) no-repeat;
	width: 24px;
	height: 32px;
	margin: -16px 0 0 0;
}




.footer-poweredby {
	text-align: center;
}
.footer-poweredby__link {
	color: #9c9c9c;
}




/*------------------------------------------------------------
Modal
------------------------------------------------------------*/

/*.fancybox-close-custom {
	position: absolute;
	right: -44px;
	top: 0;
	background: url(../images/i-svg/i-modal-close-white.svg) no-repeat;
	margin: 0;
	padding: 0;
	z-index: 10;
	cursor: pointer;
	border: 0;
	outline: 0;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.fancybox-close-custom:hover {
	opacity: 0.8;
}*/
.modal {
	display: none;
	width: 90%;
}
.modal--default {
	max-width: 480px;	
	padding: 60px;
}
.modal--success {
	max-width: 480px;
	padding: 115px 15px;
	text-align: center;
}
.success-modal__title {
	padding: 120px 0 0 0;
	margin: 0 0 15px 0;
	position: relative;
	font-family: 'PFSquareSansPro-Medium', sans-serif;
	font-size: 30px;
	line-height: 1;
}
.success-modal__text {
	max-width: 320px;
	margin: 0 auto;
	line-height: 24px;
	font-weight: 300;
}
.modal__title {
	margin: 0 0 30px 0;
    font-family: 'DINCyrBlack', sans-serif;
    color: #213775;
    font-size: 30px;
    text-align: center;
}
.modal__title--newsletter {
	margin: 0 0 20px 0;
}
.modal__description {
	margin: 0 0 45px 0;
	line-height: 24px;
	font-weight: 300;
}
.modal-form-row {
	margin: 15px 0 0 0;
}
.form-input--modal {
	border: 1px solid #eee;
}





.form-row {
	letter-spacing: -10px;	
}
.form-col{
	letter-spacing: 0;
}
.form-col--inline {
	width: 255px;
	display: inline-block;
	position: relative;
}
.form-col--inline:nth-child(2n) .form-input {
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
}
.form-col--inline:last-child:before {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 0 7.5px 13px;
	border-color: transparent transparent transparent #fff;
	z-index: 1;
}
.form-input {
	width: 100%;
	height: 65px;
	background: rgba(255, 255, 255, 0.9);
	padding: 15px;
	border: none;
	font-family: 'DINCyrBold', sans-serif;
	color: #333;
	font-size: 18px;
	line-height: 65px;
	text-align: center;
}
.form-input--modal {
	border: 1px solid #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.form-input--modal:focus {
	border-color: #27b1eb;
}
.form-input--modal.error {
	border-color: red;
}
.form-input::-webkit-input-placeholder {
	color: #333;
	opacity: 1;
}
.form-input::-moz-placeholder {
	color: #333;
	opacity: 1;
}
.form-input:-ms-input-placeholder {
	color: #333;
	opacity: 1;
}
.form-input:-moz-placeholder {
	color: #333;
	opacity: 1;
}
.form-input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px #fff !important;
	-webkit-text-fill-color: #202020 !important;
}
.form-input.error {
	color: red;
}
.form-input.error::-webkit-input-placeholder {
	color: red;
	opacity: 1;
}
.form-input.error::-moz-placeholder {
	color: red;
	opacity: 1;
}
.form-input.error:-ms-input-placeholder {
	color: red;
	opacity: 1;
}
.form-input.error:-moz-placeholder {
	color: red;
	opacity: 1;
}


.form-select {
	width: 100%;
	height: 65px;
	border: none
	background-color: #fff;
	background-image: url(../images/i/i-arrow-black-bottom.png);
	background-position: 95% center;
	background-repeat: no-repeat;
	font-family: 'DINCyrBold', sans-serif;
	color: #333;
	font-size: 18px;
	line-height: 65px;
	text-align: center;
	text-indent: 0.01px; 
	text-overflow: "";
	cursor: pointer;
}
.form-submit {
	display: inline-block;
	width: 100%;
	height: 65px;
	border: none;
	background: rgba(19, 172, 236, 0.9);
	font-family: 'DINCyrBold', sans-serif;
	color: #fff;
	font-size: 18px;
	line-height: 65px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: opacity 0.4s ease 0s;
	-o-transition: opacity 0.4s ease 0s;
	transition: opacity 0.4s ease 0s;
}
.form-submit--modal {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.form-submit--disabled {
	background: #c8c8c8;
	cursor: default;
}
.form-submit:hover {
	opacity: 0.8;
}

/*----------------------------------------------------------------
Btn styles
----------------------------------------------------------------*/

.btn {
	display: inline-block;
	padding: 26px 30px;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
	-ms-border-radius: 38px;
	-o-border-radius: 38px;
	border-radius: 38px;
	border: none;
	font-family: 'PFSquareSansPro-Medium', sans-serif;
	color: #fff;
	font-size: 22px;
	line-height: 24px;
	text-align: center;
	-webkit-transition: background 0.4s ease 0s;
	-o-transition: background 0.4s ease 0s;
	transition: background 0.4s ease 0s;
	cursor: pointer;
}
.btn--yellow {
	background: #ff9e15;
}
.btn--yellow:hover {
	background: #ffac38;
	text-decoration: none;
}

/*----------------------------------------------------------------
Adaptive styles
----------------------------------------------------------------*/

@media only screen and (max-width: 1200px) {
	

	.order-form--inline {
		width: 100%;
	}
	.form-col--inline {
		width: 25%;
	}
	
}

@media only screen and (max-width: 1000px) {
	
	

	.advantage-col {

	}


	.edges {
		padding: 50px 0;
		height: auto;
		background-size: cover;
	}
	.edges-row {
		margin: 0 -15px;
	}
	.edges-col {
		width: 50%;
		padding: 0 15px;
	}


	.partner-col {
		width: 33.3333%;
	}
	
	
}

@media only screen and (max-width: 767px) {
	
	

	.order-form--inline {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.form-col--inline {
		margin: 0 0 10px 0;
		width: 100%;
		display: block;
	}

	.order-form--inline {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}
	.form-input,
	.form-submit {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
	}
	.form-col--inline:last-child:before {
		border-color: transparent;
	}


	.edges-col {
		margin: 30px 0 0 0;
		width: 100%;
	} 
	.block-title--edges {
		padding: 0;
	}
	.block-title--edges:after {
		background: transparent;
		width: 0;
	}
	.block-title {
		font-size: 32px;
	}


	.partner-col {
		width: 50%;
	}
	
	
}

@media only screen and (max-width: 640px) {
		
	
	
}

@media only screen and (max-width: 480px) {
	



	.partner-col {
		width: 100%;
	}
	
	
	
}

/*------------------------------------------------------------
Grid
------------------------------------------------------------*/

.grid-row {
	margin: 0 -15px;
	letter-spacing: -10px;
}
.grid-row:before,
.grid-row:after {
    content: "";
    display: table;
}
.grid-row:after {
    clear: both;
}
.grid-col {
	display: inline-block;
	min-height: 1px;
	padding: 0 15px;
	position: relative;
	letter-spacing: 0;
}
.grid-col-xs-1 {
	width: 8.3333%;
}
.grid-col-xs-2 {
	width: 16.6666%;
}
.grid-col-xs-3 {
	width: 25%;
}
.grid-col-xs-4 {
	width: 33.3333%;
}
.grid-col-xs-5 {
	width: 41.6666%;
}
.grid-col-xs-6 {
	width: 50%;
}
.grid-col-xs-7 {
	width: 58.3333%;
}
.grid-col-xs-8 {
	width: 66.6666%;
}
.grid-col-xs-9 {
	width: 75%;
}
.grid-col-xs-10 {
	width: 83.3333%;
}
.grid-col-xs-11 {
	width: 91.6666%;
}
.grid-col-xs-12 {
	width: 100%;
}

@media only screen and (min-width: 768px) {

	.grid-col-sm-1 {
		width: 8.3333%;
	}
	.grid-col-sm-2 {
		width: 16.6666%;
	}
	.grid-col-sm-3 {
		width: 25%;
	}
	.grid-col-sm-4 {
		width: 33.3333%;
	}
	.grid-col-sm-5 {
		width: 41.6666%;
	}
	.grid-col-sm-6 {
		width: 50%;
	}
	.grid-col-sm-7 {
		width: 58.3333%;
	}
	.grid-col-sm-8 {
		width: 66.6666%;
	}
	.grid-col-sm-9 {
		width: 75%;
	}
	.grid-col-sm-10 {
		width: 83.3333%;
	}
	.grid-col-sm-11 {
		width: 91.6666%;
	}
	.grid-col-sm-12 {
		width: 100%;
	}

}

@media only screen and (min-width: 1000px) {

	.grid-col-md-1 {
		width: 8.3333%;
	}
	.grid-col-md-2 {
		width: 16.6666%;
	}
	.grid-col-md-3 {
		width: 25%;
	}
	.grid-col-md-4 {
		width: 33.3333%;
	}
	.grid-col-md-5 {
		width: 41.6666%;
	}
	.grid-col-md-6 {
		width: 50%;
	}
	.grid-col-md-7 {
		width: 58.3333%;
	}
	.grid-col-md-8 {
		width: 66.6666%;
	}
	.grid-col-md-9 {
		width: 75%;
	}
	.grid-col-md-10 {
		width: 83.3333%;
	}
	.grid-col-md-11 {
		width: 91.6666%;
	}
	.grid-col-md-12 {
		width: 100%;
	}

}

@media only screen and (min-width: 1200px) {

	.grid-col-lg-1 {
		width: 8.3333%;
	}
	.grid-col-lg-2 {
		width: 16.6666%;
	}
	.grid-col-lg-3 {
		width: 25%;
	}
	.grid-col-lg-4 {
		width: 33.3333%;
	}
	.grid-col-lg-5 {
		width: 41.6666%;
	}
	.grid-col-lg-6 {
		width: 50%;
	}
	.grid-col-lg-7 {
		width: 58.3333%;
	}
	.grid-col-lg-8 {
		width: 66.6666%;
	}
	.grid-col-lg-9 {
		width: 75%;
	}
	.grid-col-lg-10 {
		width: 83.3333%;
	}
	.grid-col-lg-11 {
		width: 91.6666%;
	}
	.grid-col-lg-12 {
		width: 100%;
	}

}