a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, td, video, tt,
u, ul, 
var{
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
table, table td{ 
	padding:0;
	border:none;
	border-collapse:collapse;
}
img{
	vertical-align:top;
	border: 0;
}
embed{ 
	vertical-align:top;
}
.video embed,
.video object,
.video iframe{
   width: 100%;
   height: auto;
}
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clear{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
main,
summary{
    display: block;
}
textarea{
    overflow: auto;
    vertical-align: top;
}
:focus,
:active,
:hover{
    outline: none;
}
*{
	padding: 0;
	margin: 0;
}
*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
	width: 100%; 
	min-width: 320px;
	background: #fff;
	font-family: 'Conv_MuseoSansCyrl-300', sans-serif;
	color: #222;
	font-size: 16px;
	line-height: 1;
}
a{	
	color: #12498a;
	text-decoration: none;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
ul,
li,
ol{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
img{
	max-width: 100%;
	height: auto;
}
input,
textarea,
select{
	font-family: 'Conv_MuseoSansCyrl-300', sans-serif;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

/*------------------------------------------------------------
Fonts
------------------------------------------------------------*/

@font-face{
	font-family: 'Conv_MuseoSansCyrl-300';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
		url('../fonts/MuseoSansCyrl-300.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Conv_MuseoSansCyrl-500';
	src: url('../fonts/MuseoSansCyrl-500.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'),
		url('../fonts/MuseoSansCyrl-500.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Conv_MuseoSansCyrl-700';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'),
		url('../fonts/MuseoSansCyrl-700.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Conv_MuseoSansCyrl-900';
	src: url('../fonts/MuseoSansCyrl-900.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'),
		url('../fonts/MuseoSansCyrl-900.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ALSRubl';
	src: url('../fonts/ALSRubl.eot');
	src: url('../fonts/ALSRubl.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ALSRubl.woff') format('woff'),
		url('../fonts/ALSRubl.ttf') format('truetype'),
		url('../fonts/ALSRubl.svg#ALSRubl') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*------------------------------------------------------------
Wrapper
------------------------------------------------------------*/

.layout{
	overflow-x: hidden;
}
.wrapper{
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.wrapper:before,
.wrapper:after{
    content: "";
    display: table;
}
.wrapper:after{
    clear: both;
}

/*------------------------------------------------------------
Table helper
------------------------------------------------------------*/

.table{
	display: table;
	width: 100%;
	height: 100%;
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}

/*------------------------------------------------------------
Adaptive header
------------------------------------------------------------*/

.adaptive-header{
	display: none;
	padding: 25px 15px 25px 70px;
	position: relative;
	font-size: 0;
}
.adaptive-header-left-col{
	display: inline-block;
	vertical-align: middle;
	width: 55%;
}
.adaptive-header-right-col{
	display: inline-block;
	vertical-align: middle;
	width: 45%;
	text-align: right;
}
.adaptive-header-tel-block{
	display: inline-block;
	width: 40px;
	height: 40px;
}
.adaptive-header-tel-ico{
	position: relative;
	display: inline-block;
	background-image: url(../images/i/tel-ico.png);
	background-color: #1d1d1d;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.adaptive-header-tel-ico:hover{
	background-color: #12498a;
}
.adaptive-header-basket-block{
	display: inline-block;
	margin: 0 0 0 30px;
	width: 40px;
	height: 40px;
}
.adaptive-header-basket-ico{
	position: relative;
	display: inline-block;
	background: url(../images/i/adaptive-basket-ico.png) no-repeat;
	width: 100%;
	height: 100%;
}
.adaptive-header-basket-counter{
	display: block;
	position: absolute;
	left: 50%;
	top: -14px;
	width: 20px;
	height: 20px;
	margin: 0 0 0 -10px;
	background: #ee4a36;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	font-size: 10px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
}
.adaptive-menu-container{
	position: fixed;
	width: 340px;
	height: 100%;
	left: -100%;
	background: #ccc;
	padding: 30px;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
	z-index: 9999;
	overflow-y: auto;
}
.adaptive-menu-container.open{
	left: 0;
}
.adaptive-menu-close{
	position: absolute;
	right: 15px;
	top: 15px;
	color: #000;
	font-size: 42px;
	line-height: 23px;
	width: 23px;
	height: 23px;
}
.adaptive-menu__item{
	margin: 0 0 15px 0;
}
.adaptive-menu__item-link{
	font-size: 20px;
	font-weight: bold;
}
.adaptive-menu-toggler{
	/*padding: 10px;*/
	display: none;
	position: absolute;
	top: 50%;
	left: 15px;
	width: 30px;
	margin: -12px 0 0 0;
	/*width: 40px;
	height: 40px;*/	
	vertical-align: middle;

}
.adaptive-menu-toggler span{
    background: #fff;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
    display: block;
    height: 4px;
    width: 30px;
}
.adaptive-menu-toggler span:nth-child(1){
    top: 0;
    margin: 0 0 6px 0;
}
.adaptive-menu-toggler span:nth-child(2){
    margin: 0 0 6px 0;
}

/*------------------------------------------------------------
Header
------------------------------------------------------------*/

.header .wrapper{
	position: relative;
}
.header-top{
	padding: 30px 0;
	letter-spacing: -10px;
}
.header-top__left{
	width: 38%;
	float: left;
}
.header__logo{
	margin: 0 15px 0 0;
	float: left;
	letter-spacing: 0;
}
.header__text{
	margin: 9px 0 0 91px;
	letter-spacing: 0;
}
.header__text-company{
	margin: 0 0 2px 0;
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #3e85cf;
	font-size: 18px;
}
.header__text-description{
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	font-size: 13px;
}
.header-city{
	margin: 10px 0 0 0;
	letter-spacing: -10px;
}
.header-city__title{
	display: inline-block;
	margin: 0 3px 0 0;
	font-family: 'Conv_MuseoSansCyrl-900', sans-serif;
	font-size: 12px;
	letter-spacing: 0;
}
.header-city__select-block{
	position: relative;
	display: inline-block;
	letter-spacing: 0;
}
.header-city__toggler{
	display: inline-block;
	position: relative;
	padding: 0 14px 0 0;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	font-size: 12px;
	color: #336ebe;
	letter-spacing: 0;
}
.header-city__toggler:after{
	position: absolute;
	right: 0;
	top: 50%;
	content: "";
	background: url(../images/i/icon-arrow-bottom-black-small.png) no-repeat;
	width: 9px;
	height: 5px;
	margin: -2px 0 0 0;
}
.header-city__toggler--active:after{
	background: url(../images/i/icon-arrow-top-black-small.png) no-repeat;
}
.header-city__dropdown{
	position: absolute;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	z-index: 6;
	-webkit-transform: translateY(5%);
	-ms-transform: translateY(5%);
	-o-transform: translateY(5%);
	transform: translateY(5%);
	width: 170px;
	margin: 0 0 0 -85px;
	left: 50%;
	border: 1px solid #336ebe;
	padding: 15px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.header-city__dropdown--active{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.header-city__option{
	margin: 0 0 10px 0;
}
.header-city__option:last-child{
	margin: 0;
}
.header-city__option-link{
	color: #222;
	font-size: 14px;
}
.header-city__option-link:hover{
	color: #336ebe;
}



.header-top__right{
	margin: 5px 0 0 0;
	width: 62%;
	float: right;
	text-align: right;
}
.header-tel{
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 42px;
	position: relative;
	text-align: left;
	letter-spacing: 0;
}
.header-tel:before{
	position: absolute;
	left: 0;
	top: 50%;
	content: "";
	background: url(../images/i/icon-tel-blue.png) no-repeat;
	width: 26px;
	height: 25px;
	margin: -13px 0 0 0;
}
.header-tel__item{
	margin: 0 0 8px 0;
}
.header-tel__item:nth-child(2){
	margin: 0;
}
.header-tel__link{
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #222;
	font-size: 18px;
}
.header-tel__link:hover{
	color: #336ebe;
}


.header-contact-extend{
	padding: 11px 0 0 0;
	position: absolute;
	width: 235px;
	left: 18px;
	top: 40px;
}
.header-contact-extend__trigger{
	position: relative;
	padding: 11px 32px 0 23px;
	display: block;
	width: 100%;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	color: #222;
	font-size: 14px;
	border-right: 6px solid #fff;
	-webkit-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
}
.header-contact-extend__trigger--active{
	border-right: 6px solid #336ebe;
}
.header-contact-extend__trigger:after{
	position: absolute;
	right: 10px;
	top: 50%;
	content: "";
	background: url(../images/i/icon-arrow-bottom-black-middle.png) no-repeat;
	width: 14px;
	height: 7px;
	margin: 1px 0 0 0;
}
.header-contact-extend__trigger--active:after{
	background: url(../images/i/icon-arrow-top-grey-middle.png) no-repeat;
}
.header-contact-extend__content{
	display: none;
	top: 100%;
	width: 100%;
	position: absolute;
	z-index: 6;
	background: #fff;
	padding: 20px 15px 20px 23px;
	border-right: 6px solid #fff;
	-webkit-border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	-ms-border-radius: 0 0 15px 15px;
	-o-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}
.header-contact-extend__content--active{
	display: block;
	border-right: 6px solid #336ebe;
	border-bottom: 6px solid #336ebe;
}
.header-contact-extend-item{
	position: relative;
	margin: 0 0 25px 0;
	padding: 0 0 0 40px;
}
.header-contact-extend-item:before{
	position: absolute;
	left: 0;
	top: 50%;
	content: "";
}
.header-contact-extend-item--email:before{
	background: url(../images/i/icon-email-grey.png) no-repeat;
	width: 26px;
	height: 20px;
	margin: -11px 0 0 0;
}
.header-contact-extend-item--viber:before{
	background: url(../images/i/icon-viber.png) no-repeat;
	width: 27px;
	height: 28px;
	margin: -14px 0 0 0;
}
.header-contact-extend-item--tel:before{
	background: url(../images/i/icon-tel-green.png) no-repeat;
	width: 28px;
	height: 28px;
	margin: -14px 0 0 0;
}
.header-contact-extend-item__link{
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #002222;
}
.header-contact-extend-item__link:hover{
	color: #336ebe;
}
.header-contact-soc{
	letter-spacing: -10px;
}
.header-contact-soc__item{
	display: inline-block;
	margin: 0 20px 0 0;
}
.header-contact-soc__link{
	display: block;
	width: 29px;
	height: 29px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #333;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
}
.header-contact-soc__link:hover{
	background-color: #333;
}
.header-contact-soc__link--fb{
	background-image: url(../images/i/icon-fb-black.png);
}
.header-contact-soc__link--vk{
	background-image: url(../images/i/icon-vk-black.png);
}
.header-contact-soc__link--instagram{
	background-image: url(../images/i/icon-instagram-black.png);
}
.header-order{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 19px;
	letter-spacing: 0;
}
.header-order__btn{
	display: inline-block;
	padding: 12px 44px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #336ebe;
	background: #336ebe;
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #fff;
	text-align: center;
}
.header-order__btn:hover{
	background: #fff;
	color: #336ebe;
}
.header-cart{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 50px;
	letter-spacing: 0;
}
.header-cart__content{
	padding: 0 5px 0 44px;
	border-right: 6px solid #fff;
	position: relative;
	text-align: left;
	cursor: pointer;
}
.header-cart__content:before{
	position: absolute;
	left: 0;
	top: 50%;
	content: "";
	background: url(../images/i/icon-cart-blue.png) no-repeat;
	width: 34px;
	height: 30px;
	margin: -15px 0 0 0;
}
.header-cart__total{
	margin: 0 0 5px 0;
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	font-size: 18px;
}
.price-currency-ru--cart{
	font-size: 14px;
}
.header-cart__counter{
	font-size: 12px;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
}
.header-cart__dropdown{
	display: none;
	position: absolute;
	z-index: 6;
	padding: 30px 0 15px;
	top: 100%;
	right: 0;
	width: 176px;
	background: #fff;
	-webkit-border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	-ms-border-radius: 0 0 15px 15px;
	-o-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}
.header-cart__dropdown--active{
	border-right: 6px solid #336ebe;
	border-bottom: 6px solid #336ebe;
	display: block;
}
.header-cart__content--active{
	border-right: 6px solid #336ebe;
}
.header-cart-product{
	padding: 10px 15px;
	border-top: 1px solid #e3e3e3;
	text-align: left;
}
.header-cart-product__name{
	margin: 0 0 5px 0;
}
.header-cart-product__link{
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	color: #222;
	font-size: 12px;
}
.header-cart-product__link:hover{
	color: #336ebe;
}
.header-cart-product__price{
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
}
.header-cart-checkout{
	padding: 10px 15px 0;
}
.header-cart-checkout__btn{
	display: block;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #eee;
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #3f86cf;
	font-size: 12px;
	text-align: center;
}
.header-cart-checkout__btn:hover{
	background: #3f86cf;
	color: #eee;
}
.header-bottom{
	position: relative;
	z-index: 5;
}
.header-nav{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background: #336ebe;
	padding: 0 17px;
	position: relative;
	letter-spacing: -10px;
}
.header-menu__item{
	position: relative;
	display: inline-block;
	margin: 0 15px 0 0;
	letter-spacing: 0;
}
.header-menu__item:last-child{
	margin: 0;
}
.header-menu__link{
	display: block;
	padding: 25px 22px;
	color: #fff;
	font-size: 20px;
}
.header-menu__link--has-sub span{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 15px;
	background: url(../images/i/icon-arrow-bottom-white-small.png) no-repeat;
	width: 9px;
	height: 5px;
}
.header-menu__item:hover{
	background: #fff;
}
.header-menu__item:hover .header-menu__link{
	color: #222;
}
.header-menu__item:hover .header-menu__link--has-sub span{
	background: url(../images/i/icon-arrow-top-black-small.png) no-repeat;
}
.header-menu__item:hover span{
	color: #222;
}
.header-menu__link:hover{
	background: #fff;
	color: #222;
}
.header-submenu{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 3;
	background: #fff;
	width: 250px;
	border-right: 5px solid #336ebe;
	border-bottom: 5px solid #336ebe;
	padding: 20px 26px;
	-webkit-border-radius: 0 0 12px 12px;
	-moz-border-radius: 0 0 12px 12px;
	-ms-border-radius: 0 0 12px 12px;
	-o-border-radius: 0 0 12px 12px;
	border-radius: 0 0 12px 12px;
}
.header-menu__item:hover .header-submenu{
	display: block;
}
.header-submenu__item{
	margin: 0 0 24px 0;
}
.header-submenu__item:last-child{
	margin: 0;
}
.header-submenu__link{
	color: #222;
	font-size: 16px;
}
.header-submenu__link:hover{
	color: #336ebe;
}



.header-search{
	position: absolute;
	right: 30px;
	top: 50%;
	height: 40px;
	margin: -20px 0 0 0;
	text-align: right;
	letter-spacing: -10px;
}
.header-search__form{
	letter-spacing: 0;
}
.search-input{
	margin: 0 5px 0 0;
	display: inline-block;
	vertical-align: middle;
	width: 150px;
	height: 40px;
	background: #fff;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	font-size: 14px;
	color: #222;
	line-height: 30px;
}
.search-submit{
	display: inline-block;
	vertical-align: middle;
	border: none;
	background: url(../images/i/icon-search-white.png) no-repeat;
	width: 24px;
	height: 24px;
	cursor: pointer;
}


/*------------------------------------------------------------
Hero
------------------------------------------------------------*/

.hero{
	margin: -75px 0 0 0;
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	font-size: 40px;
	line-height: 46px;
	text-align: center;
}
.hero .wrapper{
	height: 100%;
}
.hero:before{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	content: "";
	background: url(../images/rounded-top-bg.png) center top no-repeat;
	width: 100%;
	height: 67px;
}
.hero:after{
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}
.hero-text{
	position: relative;
	z-index: 2;
}
.hero-text__title{
	margin: 55px 0 15px 0;
}
.hero-text__description{
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
}

/*----------------------------------------------------------------
Content container
----------------------------------------------------------------*/

.main-content{
	margin: 44px 0 50px;
}


.content-row{
	margin: 0 -15px;
}



.sidebar-left{
	float: left;
	width: 25%;
	padding: 0 15px;
}
.sidebar-filter-toggle{
	display: none;
	padding: 10px 37px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	background: #ededed;
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #3f86cf;
	font-size: 14px;
	text-align: center;
}
.sidebar-filter-toggle:hover{
	background: #3f86cf;
	color: #fff;
}
.sidebar-filter{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background: #ededed;
}
.sidebar-filter-item{
	border-bottom: 1px solid #fff;
	padding: 20px 10px;
}
.sidebar-filter-reset{
	text-align: center;
}
.sidebar-filter-reset__btn{
	border-bottom: 1px dashed #3f86cf;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	color: #3f86cf;
	font-size: 18px;
}
.sidebar-filter-reset__btn:hover{
	border: none;
}
.sidebar-filter-item__title{
	cursor: pointer;
	position: relative;
	padding: 0 20px 0 0;
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
}
.sidebar-filter-item__title:after{
	position: absolute;
	right: 0;
	top: 3px;
	content: "";
	background: url(../images/i/icon-arrow-top-black-big.png) no-repeat;
	width: 17px;
	height: 9px;
}
.sidebar-filter-item__title--up:after{
	background: url(../images/i/icon-arrow-bottom-black-big.png) no-repeat;
}
.sidebar-filter-item__body{
	margin: 15px 0 0 0;
}
.filter-checkbox-row{
	margin: 0 0 10px 0;
}
.filter-checkbox-row:last-child{
	margin: 0;
}
.checkbox-item input[type="checkbox"],
.radio-item input[type="radio"]{
    display: none;            
}
.checkbox-item input[type="checkbox"] + label, 
.radio-item input[type="radio"] + label{
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 25px;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	color: #222;
	vertical-align: middle;
	cursor: pointer;
	padding: 0 0 0 35px;
}
.checkbox-item input[type="checkbox"] + label:before,
.radio-item input[type="radio"] + label:before{
	position: absolute;
	left: 0;
    content: "";
    display: inline-block;    
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: #fff;   
}
.radio-item input[type="radio"]:checked + label:before{
	
}
.checkbox-item input[type="checkbox"] + label:before{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.radio-item input[type="radio"] + label:before{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #e1e1e1;
}
.checkbox-item input[type="checkbox"] + label:after{
	position: absolute;
	left: 4px;
	top: 4px;
	right: 4px;
	bottom: 4px;
	width: 17px;
	height: 17px;
	content: "";
	background: #3f86cf;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.checkbox-item input[type="checkbox"]:checked + label:after{
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.checkbox-item input[type="checkbox"]:checked + label{
	color: #3f86cf;
}
.filter-toggle-content{
	display: none;
}
.filter-toggle{
	margin: 20px 3px 0 0;
	text-align: right;
}
.filter-toggle__btn{
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	color: #222;
	font-size: 14px;
}
.filter-toggle__btn--active{
	color: #3f86cf;
}
.range-slider-container{
	padding: 15px 0 0 0;
	margin: 0 12px 21px 12px;
}
.ui-slider-horizontal{
	height: 10px;
}
.ui-widget.ui-widget-content{
	border: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}
.ui-widget-content{
	background: #cdcdcd;
}
.ui-widget-header{
	background: #3f86cf;	
}
.ui-slider .ui-slider-handle{
	width: 22px;
	height: 22px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #3f86cf;
	border: none;
	cursor: pointer;
}
.ui-slider-horizontal .ui-slider-handle{
	top: 50%;
	margin-top: -11px;
	margin-left: -11px;
}
.inputs-range-row{
	margin: 0 -10px;
	position: relative;
}
.inputs-range-row:before{
	position: absolute;
	left: 50%;
	top: 50%;
	content: "";
	width: 5px;
	height: 2px;
	background: #a3a3a3;
	margin: -1px 0 0 -2px;
}
.input-range-col{
	float: left;
	width: 50%;
	padding: 0 10px;
}
.range-input{
	width: 100%;
	height: 25px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	font-size: 14px;
	line-height: 25px;
}
.sidebar-filter-result{
	margin: 14px 0 0 0;
	font-size: 14px;
	text-transform: lowercase;
}




.content-col--9{
	float: right;
	width: 75%;
	padding: 0 15px;
}

.breadcrumbs{
	margin: 0 0 15px 0;
}
.breadcrumbs__item{
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
}
.product-sort{
	margin: 0 0 18px 0;
}
.product-sort-item{
	letter-spacing: -10px;
}
.product-sort-item__title{
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	font-size: 14px;
	letter-spacing: 0;
}
.product-sort-item__content{
	display: inline-block;
	vertical-align: middle;
}
.sort-select{
	width: 224px;
	height: 35px;
	padding: 0 11px;
	background: #ededed url(../images/i/icon-arrow-bottom-black-big.png) 92% center no-repeat;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	-ms-appearance: none;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	color: #222;
}

/*----------------------------------------------------------------
About container
----------------------------------------------------------------*/

.about-container{
	margin: -50px 0 0 0;
	overflow: hidden;
	position: relative;
	padding: 67px 0;
	background: #336ebe;
}
.about-container:before{
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	background: url(../images/rounded-top-bg.png) center top no-repeat;	
	width: 100%;
	height: 67px;
}
.about-container:after{
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	background: url(../images/rounded-bottom-bg.png) center top no-repeat;	
	width: 100%;
	height: 67px;
}
.about-container__text{
	padding: 90px 0;
	max-width: 875px;
	margin: 0 auto;
}
.about-container__text p{
	margin: 0 0 20px 0;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	color: #ffffff;
	line-height: 20px;
}
.about-container__text p:last-child{
	margin: 0;
}

/*----------------------------------------------------------------
Post container
----------------------------------------------------------------*/

.important-container{
	margin: 35px 0 0 0;
}
.important-row{
	margin: 0 -15px;
	letter-spacing: -10px;
}
.important-col{
	float: left;
	width: 50%;
	padding: 0 15px;
	letter-spacing: 0;
}
.important-content{
	padding: 40px 0;
}
.important-content--advice{
	padding: 40px 24px 40px 24px;
	background: #ededed;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
.important-content__title{
	margin: 0 0 30px 0;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	font-size: 30px;
}
.accordeon-item{
	margin: 0 0 30px 0;
}
.accordeon-item:last-child{
	margin: 0;
}
.accordeon-item__title{
	display: block;
	position: relative;
	padding: 0 50px 0 0;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	font-size: 20px;
	line-height: 28px;
	cursor: pointer;
}
.accordeon-item__title:after{
	position: absolute;
	right: 4px;
	top: 10px;
	content: "";
	width: 17px;
	height: 9px;
	background: url(../images/i/icon-arrow-bottom-black-big.png) no-repeat;
}
.accordeon-item__title--active:after{
	background: url(../images/i/icon-arrow-top-blue-big.png) no-repeat;	
}
.accordeon-item__title--active{
	color: #336ebe;
}
.accordeon-item__content{
	display: none;
	padding: 0 50px 0 0;
}
.accordeon-item__content p{
	margin: 10px 0 0 0;
	line-height: 20px;
}
.advice-slider{
	padding: 0 0 0 58px;
	position: relative;
}
.advice-slider:before{
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	background: url(../images/i/icon-advice.png) no-repeat;
	width: 42px;
	height: 61px;
}
.advice-item__text p{
	margin: 0 0 30px 0;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	font-size: 20px;
	line-height: 28px;
}
.advice-item__text p:last-child{
	margin: 0;
}
.advice-slider.owl-carousel .owl-dots{
	margin: 40px 0 0 0;
	text-align: center;
	letter-spacing: -10px;
}
.advice-slider.owl-carousel .owl-dot{
	display: inline-block;
	margin: 0 5px;
	width: 16px;
	height: 16px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
}
.advice-slider.owl-carousel .owl-dot:hover,
.advice-slider.owl-carousel .owl-dot.active{
	background: #336ebe;
}

/*----------------------------------------------------------------
Reviews container
----------------------------------------------------------------*/

.review-container{
	margin: 71px 0 0 0;
	padding: 55px 0 49px 0;
	background: #f9f9f9;
}
.review-container__title{
	margin: 0 0 25px 0;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	font-size: 30px;
	text-align: center;
}
.review-item{
	margin: 0 0 12px 0;
	padding: 22px 20px;
	background: #ededed;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	font-size: 20px;
	letter-spacing: -10px;
}
.review-item:last-child{
	margin: 0;
}
.review-item--active{
	color: #fff;
	background: #336ebe;
}
.review-item__audio{
	position: relative;
	padding: 0 10px 0 32px;
	width: 65%;
	display: inline-block;
	vertical-align: middle;
}
.audio-controls{
	position: absolute;
	left: 0;
	top: 50%;
	height: 18px;
	margin: -9px 0 0 0;
	display: inline-block;
	vertical-align: middle;
}
.audio-control{
	display: inline-block;
	vertical-align: middle;
	border: none;
	cursor: pointer;
}
.audio-control--play{
	/*margin: 0 6px 0 0;*/
	background: url(../images/i/icon-play-black.png) no-repeat;
	width: 15px;
	height: 18px;
}
.audio-control--pause{
	background: url(../images/i/icon-pause-black.png) no-repeat;
	width: 15px;
	height: 18px;
}
.review-item--active .audio-control--play{
	background: url(../images/i/icon-pause-white.png) no-repeat;
}
/*.review-item--active .audio-control--pause{
	background: url(../images/i/icon-pause-white.png) no-repeat;
}*/

.audio-name{
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
}
.review-item__info{
	width: 35%;
	display: inline-block;
	vertical-align: middle;	
}
.review-item__info-inner{
	float: right;
}
.review-item__brand-img{
	margin: 0 15px 0 0;
	display: inline-block;
	vertical-align: middle;	
}
.review-item__brand-id{
	display: inline-block;
	vertical-align: middle;	
	letter-spacing: 0;
}




/*----------------------------------------------------------------
Breadcrumbs container
----------------------------------------------------------------*/

.breadcrumbs-container{
	padding: 12px 0;
	background: #e9f3ff;
}
.breadcrumbs-item{
	display: inline-block;
	padding: 0 35px 0 0;
	position: relative;
	color: #12498a;
	font-size: 12px;
	line-height: 14px;
}
.breadcrumbs-item:last-child{
	padding: 0;
}
.breadcrumbs-item:after{
	position: absolute;
	right: 10px;
	top: 50%;
	content: "";
	background: #bbdaff;
	width: 10px;
	height: 1px;
}
.breadcrumbs-item:last-child:after{
	background: none;
}
.breadcrumbs-item__link{
	color: #88a6c8;
	font-size: 12px;
	line-height: 14px;
}

/*----------------------------------------------------------------
Product container
----------------------------------------------------------------*/

.product-container{
	padding: 50px 0;
}
.product-title{
	margin: 0 0 55px 0;
	padding: 0 0 0 70px;
	position: relative;
}
.product-title:before{
	position: absolute;
	left: 32px;
	top: 50%;
	content: "";
	background: url(../images/i/product-title-arrow-ico.png) no-repeat;
	width: 4px;
	height: 7px;
	margin: -2px 0 0 0;	
}
.product-title h1{
	color: #000;
	font-size: 35px;
	line-height: 1;
	font-weight: 400;
}





.product-row{
	margin: 0 -15px;
	letter-spacing: -10px;
}
.product-col{
	display: inline-block;
	width: 33.3333%;
	padding: 0 15px;
	letter-spacing: 0;
}
.product{
	margin: 0 0 30px 0;
	border: 1px solid #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	padding: 15px 24px;
}
.product:hover{
	-webkit-box-shadow: 0px 0px 20px 0px rgba(51, 110, 190, 0.2);
	-moz-box-shadow:    0px 0px 20px 0px rgba(51, 110, 190, 0.2);
	box-shadow:         0px 0px 20px 0px rgba(51, 110, 190, 0.2);
}
.product__image{
	position: relative;
	overflow: hidden;
	height: 150px;
	text-align: center;
}
.product__image img{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.product-name{
	margin: 5px 0 15px 0;
	height: 52px;
	overflow: hidden;
	text-align: center;
}
.product-name__link{
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	color: #222;
	font-size: 16px;
	line-height: 28px;
}
.product-name__link:hover{
	color: #3f86cf;
}
.product-price-row{
	text-align: center;
	letter-spacing: -10px;
}
.product-price{
	display: inline-block;
	vertical-align: baseline;
	margin: 0 9px;
	letter-spacing: 0;
}
.product-price--old{
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	font-size: 16px;
	text-decoration: line-through;
}
.product-price--new{
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	font-size: 22px;	
}
.price-currency-ru{
	display: inline-block;
	vertical-align: baseline;
	font-family: 'ALSRubl';
}
.price-currency-ru--new{
	font-size: 17px;
	color: #222;
}
.price-currency-ru--economy{
	font-size: 14px;
	color: #e70000;
}
.product-economy-row{
	margin: 18px -24px 0;
	height: 36px;	
	text-align: center;	
}
.product-economy-inner{
	height: 36px;
	padding: 10px;
	background: #ededed;
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #010101;
}
.product-economy__value{
	color: #e70000;
}
.product-basket{
	margin: 17px 0 0 0;
	text-align: center;
}
.product-basket__btn{
	display: block;
	padding: 12px;
	background: #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #3f86cf;
	font-size: 16px;
}
.product-basket__btn:hover{
	background: #3f86cf;
	color: #fff;
}

/*----------------------------------------------------------------
Pagination
----------------------------------------------------------------*/

.pagination{
	margin: 18px 0 0 0;
	text-align: center;
	letter-spacing: -10px;
}
.pagination--catalog{
	margin: -12px 0 0 0;
}
.pagination__item{
	display: inline-block;
	margin: 0 1px 0 0;
	letter-spacing: 0;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	font-size: 14px;
	line-height: 36px;
}
.pagination__item:first-child .pagination__link{
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
.pagination__item span{
	display: inline-block;
	width: 36px;
	height: 36px;
}
.pagination__link{
	display: inline-block;
	position: relative;
	background: #ededed;
	width: 36px;
	height: 36px;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	color: #222;
	font-size: 14px;
	line-height: 36px;
	text-transform: lowercase;
}
.pagination__link:hover,
.pagination__link--active{
	background: #336ebd;
	color: #fff;
}
.pagination__link--active:after{
	position: absolute;
	z-index: 11;
	right: -10px;
	top: 0;
	content: "";
	width: 10px;
	height: 100%;
}
.pagination__link--active:before{
	position: absolute;
	right: 0;
	top: 0;
	content: "";
	width: 10px;
	height: 100%;
}
.pagination__link--next{
	width: auto;
	padding: 0 14px;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

/*----------------------------------------------------------------
Footer
----------------------------------------------------------------*/

.footer{
	margin: 50px 0 0 0;
	background: #727272;
	padding: 50px 0 52px 0;
}
.footer-menu-col{
	float: left;
	width: 35%;
	padding: 0 15px 0 0;
}
.footer-menu-col__title{
	margin: 0 0 12px 0;
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #fff;
	font-size: 20px;
}
.footer-menu__item{
	float: left;
	width: 50%;
	margin: 0 0 12px 0;
}
.footer-menu__item:last-child{
	margin: 0;
}
.footer-menu__link{
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	color: #fff;
	font-size: 18px;	
}
.footer-menu__link:hover{
	color: #336ebe;
}
.footer-tel-col{
	float: left;
	width: 25%;
	padding: 0 15px 0 0;
}
.footer-tel{
	padding: 0 0 0 41px;
	position: relative;
}
.footer-tel:before{
	position: absolute;
	left: 0;
	top: 50%;
	content: "";
	background: url(../images/i/icon-tel-white.png) no-repeat;
	width: 26px;
	height: 25px;
	margin: -13px 0 0 0;
}
.footer-tel__item{
	margin: 0 0 12px 0;
}
.footer-tel__item:last-child{
	margin: 0;
}
.footer-tel__link{
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #fff;
	font-size: 18px;
}
.footer-tel__link:hover{
	color: #336ebe;
}
.footer-worktime{
	margin: 25px 0 0 41px;
}
.footer-worktime__item{
	margin: 0 0 8px 0;
	font-family: 'Conv_MuseoSansCyrl-500', sans-serif;
	color: #fff;
	font-size: 14px;
}
.footer-contacts-col{
	float: left;
	width: 40%;
}
.footer-email{
	margin: 0 0 10px 0;
}
.footer-email__link{
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #fff;
	font-size: 18px;
}
.footer-email__link:hover{
	color: #336ebe;
}
.footer-soc{
	margin: 0 0 16px 0;
	letter-spacing: -10px;
}
.footer-soc__item{
	display: inline-block;
	margin: 0 12px 0 0;
}
.soc-item__link{
	display: block;
	width: 24px;
	height: 24px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
}
.soc-item__link:hover{
	background-color: #336ebe;
	border-color: #336ebe;
}
.soc-item__link--fb{
	background: url(../images/i/icon-fb.png) center center no-repeat;
}
.soc-item__link--vk{
	background: url(../images/i/icon-vk.png) center center no-repeat;
}
.soc-item__link--instagram{
	background: url(../images/i/icon-instagram.png) center center no-repeat;
}
.footer-order{
	margin: 0 -10px;
}
.footer-order__col{
	float: left;
	width: 50%;
	padding: 0 10px;
}
.footer-order__button{
	display: inline-block;
	width: 100%;
	padding: 12px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
.footer-order__button:hover{
	opacity: 0.7;
}
.footer-order__button--green{
	background: #33be36;
}
.footer-order__button--blue{
	background: #336ebe;
}

/*----------------------------------------------------------------
Modal
----------------------------------------------------------------*/

.modal{
	display: none;
	width: 380px;
	background: #fff;
	padding: 25px;
	text-align: center;
}
.modal-title{
	margin: 0 0 30px 0;
	font-family: "Conv_MuseoSansCyrl-900";
    color: #1d1d1d;
    font-size: 24px;
    line-height: 1;
}
.form-row{
	margin: 0 0 15px 0;
}
.form-row:last-child{
	margin: 0;
}
.form-input{
	width: 100%;
	height: 40px;
	border: 1px solid #e1e1e1;
	background: #fff;
	padding: 12px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #222;
	font-size: 16px;
	line-height: 20px;
}
.form-input-error{
	border: 1px solid #ee4a36;
	color: #ee4a36;
}
.form-input:focus{
	border: 1px solid #336ebe;
}
.form-input::-webkit-input-placeholder{
	color: #222;
	opacity: 1;
}
.form-input::-moz-placeholder{
	color: #222;
	opacity: 1;
}
.form-input:-moz-placeholder{
	color: #222;
	opacity: 1;
}
.form-input.form-input-error::-webkit-input-placeholder{
	color: #ee4a36;
	opacity: 1;
}
.form-input.form-input-error::-moz-placeholder{
	color: #ee4a36;
	opacity: 1;
}
.form-input.form-input-error:-moz-placeholder{
	color: #ee4a36;
	opacity: 1;
}
.form-submit{
	width: 100%;
	height: 44px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #336ebe;
	border: 1px solid #336ebe;
	font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.form-submit:hover{
	background: #fff;
	color: #336ebe;
}
.form-submit--price{
	background: #33be36;
	border: 1px solid #33be36;
}
.form-submit--price:hover{
	color: #33be36;
}

/*----------------------------------------------------------------
Adaptive styles
----------------------------------------------------------------*/

@media only screen and (max-width: 1170px){
	

	.header-nav{
		padding: 0 10px;
	}
	.header-menu__item{
		margin: 0;
	}
	.header-menu__link{
		padding: 25px 15px;
	}
	.header-search{
		right: 30px;
	}


}

@media only screen and (max-width: 1000px){
	


	.header-top__left{
		width: 100%;
		text-align: center;
	}
	.header__logo{
		margin: 0;
		float: none;
	}
	.header__text{
		margin: 9px 0 0 0;
	}
	.header-top__right{
		margin: 25px 0 0 0;
		width: 100%;
		text-align: left;
	}
	.header-contact-extend{
		display: none;
	}
	.header-tel,
	.header-order,
	.header-cart{
		width: 33.3333%;
		margin: 0;
	}
	.header-cart__content{
		display: inline-block;
	}
	.header-order{
		text-align: center;
	}
	.header-cart{
		text-align: right;
	}
	

	.header-menu{
		display: none;	
	}
	.adaptive-menu-toggler{
		display: inline-block;
	}
	.header-nav{
		height: 60px;
	}
	
	.sidebar-left{
		width: 30%;
	}
	.content-col--9{
		width: 70%;
	}
	.product-col{
		width: 50%;
	}


	.footer-menu-col,
	.footer-tel-col{
		width: 50%;
	}
	.footer-contacts-col{
		width: 100%;
	}

	
}

@media only screen and (max-width: 767px){
	


	.hero{
		font-size: 25px;
		line-height: 35px;
	}
	


	.sidebar-left{
		margin: 0 0 20px 0;
		width: 100%;
	}
	.sidebar-filter-toggle{
		display: inline-block;
	}
	.sidebar-filter{
		margin: 15px 0 0 0;
		display: none;
	}

	.content-col--9{
		width: 100%;
	}

	
	
	.about-container{
		margin: 0;
		padding: 0;
	}
	.about-container:before,
	.about-container:after{
		background: none;
		height: 0;
	}
	.about-container__text{
		padding: 40px 0;
	}

	

	.important-container{
		margin: 25px 0 0 0;
	}
	.important-container .wrapper{
		padding: 0;
	}
	.important-content__title{
		margin: 0 0 15px 0;
		font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
		font-size: 20px;
		line-height: 28px;
	}
	.important-col{
		width: 100%;
	}
	.important-content{
		padding: 0 15px;
	}
	.important-content--advice{
		padding: 20px 15px;
		margin: 25px 0 0 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}


	
	.accordeon-item{
		margin: 0 0 13px 0;
	}
	.accordeon-item__title{
		font-size: 14px;
		line-height: 18px;
	}
	.accordeon-item__title:after{
		top: 5px;
	}
	.accordeon-item__content p{
		margin: 3px 0 0 0;
		font-size: 14px;
		line-height: 18px;
	}
	.advice-item__text p{
		margin: 0 0 25px 0;
		font-family: 'Conv_MuseoSansCyrl-700', sans-serif;
		font-size: 14px;
		line-height: 20px;	
	}

	

	.review-container{
		padding: 0;
		margin: 30px 0 0 0;
	}
	.review-container__title{
		margin: 0 0 10px 0;
		font-size: 20px;
		text-align: left;
	}
	.review-item{
		font-size: 14px;
		margin: 0 0 6px 0;
		padding: 14px 15px;
	}
	.review-item__audio{
		width: 100%;	
	}
	.review-item__info{
		display: none;
	}





	.footer{
		margin: 30px 0 0 0;
	}

}

@media only screen and (max-width: 640px){

		


	.product-col{
		width: 100%;
	}



}

@media only screen and (max-width: 480px){
	
	.adaptive-menu-container{
		width: 270px;
	}
	.modal{
		padding: 0;
		width: 100%;
	}

}