@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext');

a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, td, video, tt,
u, ul, 
var{
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
table, table td{ 
	padding:0;
	border:none;
	border-collapse:collapse;
}
img{
	vertical-align:top;
	border: 0;
}
embed{ 
	vertical-align:top;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clear{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary{
    display: block;
}
textarea{
    overflow: auto;
    vertical-align: top;
}
:focus,
:active,
:hover{
    outline: none;
}
*{
	padding: 0;
	margin: 0;
}
*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
	width: 100%; 
	min-width: 320px;
	background: #fff;
	font-family: 'PT Sans', sans-serif;
	color: #231f20;
	font-size: 16px;
	line-height: 1;
}
a{	
	color: #12498a;
	text-decoration: none;
}
a:hover{
	color: #ee4a36;
}
ul,
li,
ol{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
img{
	max-width: 100%;
	height: auto;
}
input,
textarea,
select{
	font-family: 'PT Sans', sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;  
	border-radius: 0;
	-webkit-border-radius: 0;
}

/*------------------------------------------------------------
Fonts
------------------------------------------------------------*/

@font-face{
	font-family: 'Conv_MuseoSansCyrl-300';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
		url('../fonts/MuseoSansCyrl-300.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Conv_MuseoSansCyrl-900';
	src: url('../fonts/MuseoSansCyrl-900.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
		url('fonts/MuseoSansCyrl-900.ttf') format('truetype'),
		url('../fonts/MuseoSansCyrl-900.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*------------------------------------------------------------
Wrapper
------------------------------------------------------------*/

.layout{
	overflow-x: hidden;
}
.wrapper{
	max-width: 1340px;
	margin: 0 auto;
}
.wrapper:before,
.wrapper:after{
    content: "";
    display: table;
}
.wrapper:after{
    clear: both;
}

/*------------------------------------------------------------
Header
------------------------------------------------------------*/

.adaptive-header{
	display: none;
	padding: 25px 15px 25px 70px;
	position: relative;
	font-size: 0;
}
.adaptive-header-left-col{
	display: inline-block;
	vertical-align: middle;
	width: 55%;
}
.adaptive-header-right-col{
	display: inline-block;
	vertical-align: middle;
	width: 45%;
	text-align: right;
}
.adaptive-header-tel-block{
	display: inline-block;
	width: 40px;
	height: 40px;
}
.adaptive-header-tel-ico{
	position: relative;
	display: inline-block;
	background-image: url(../images/i/tel-ico.png);
	background-color: #1d1d1d;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.adaptive-header-tel-ico:hover{
	background-color: #12498a;
}
.adaptive-header-basket-block{
	display: inline-block;
	margin: 0 0 0 30px;
	width: 40px;
	height: 40px;
}
.adaptive-header-basket-ico{
	position: relative;
	display: inline-block;
	background: url(../images/i/adaptive-basket-ico.png) no-repeat;
	width: 100%;
	height: 100%;
}
.adaptive-header-basket-counter{
	display: block;
	position: absolute;
	left: 50%;
	top: -14px;
	width: 20px;
	height: 20px;
	margin: 0 0 0 -10px;
	background: #ee4a36;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	font-size: 10px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
}
.adaptive-menu-container{
	position: fixed;
	width: 340px;
	height: 100%;
	left: -100%;
	background: #ccc;
	padding: 30px;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
	z-index: 9999;
	overflow-y: auto;
}
.adaptive-menu-container.open{
	left: 0;
}
.adaptive-menu-close{
	position: absolute;
	right: 15px;
	top: 15px;
	color: #000;
	font-size: 42px;
	line-height: 23px;
	width: 23px;
	height: 23px;
}
.adaptive-menu__item{
	margin: 0 0 15px 0;
}
.adaptive-menu__item-link{
	font-size: 20px;
	font-weight: bold;
}
.adaptive-menu-toggler{
	padding: 10px;
	display: none;
	position: absolute;
	top: 25px;
	left: 15px;	
	width: 40px;
	height: 40px;
	background: #ee4a36;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.adaptive-menu-toggler:hover{
	background: #12498a;
}
.adaptive-menu-toggler span{
    background: #fff;
    display: block;
    height: 3px;
    width: 20px;
}
.adaptive-menu-toggler span:nth-child(1){
    top: 0;
    margin: 0 0 6px 0;
}
.adaptive-menu-toggler span:nth-child(2){
    margin: 0 0 6px 0;
}
.header-top{
	font-size: 0;
	padding: 34px 0 38px 0;
}
.header-logo-col{
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	padding: 0 10px 0 0;
}
.header-opt-col{
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	width: 18%;
	font-size: 17px;
	line-height: 20px;
}
.header-cotton-col{
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	position: relative;
	padding: 0 0 0 72px;
	color: #9dcb45;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
}
.header-cotton-col:before{
	position: absolute;
	left: 0;
	top: 50%;
	content: "";
	background: url(../images/i/cotton-ico.png) no-repeat;
	width: 55px;
	height: 55px;
	margin: -27px 0 0 0;
}
.header-telephone-col{
	display: inline-block;
	vertical-align: middle;
	width: 15%;
}
.header-contacts-col{
	display: inline-block;
	vertical-align: middle;
	width: 20%;	
}
.header-address-text{
	margin: 0 0 10px 0;
	font-size: 17px;
	line-height: 20px;
}
.header-email{
	font-size: 15px;
	line-height: 1;
}
.header-email-link{
	color: #ee4a36;
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}
.header-email-link:hover{
	color: #12498a;
	text-decoration: none;
}
.header-basket-col{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.header-basket-inner{
	position: relative;
}
.header-basket-block{
	display: inline-block;
	position: relative;
}
.header-basket-ico{
	display: block;
	background: url(../images/i/desktop-basket-ico.png) no-repeat;
	width: 62px;
	height: 52px;
	position: relative;
	cursor: pointer;
	z-index: 4;
}
.basket-counter{
	position: absolute;
	left: 23px;
	top: -5px;
	width: 30px;
	height: 30px;
	background: #ee4a36;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
}
.header-basket-content{
	display: none;
	position: absolute;
	z-index: 3;
	left: 50%;
	top: -30px;
	margin: 0 0 0 -85px;
	background: #fff;
	-webkit-box-shadow: 0px 3px 50px 0px rgba(25, 99, 186, 0.6);
	-moz-box-shadow:    0px 3px 50px 0px rgba(25, 99, 186, 0.6);
	box-shadow:         0px 3px 50px 0px rgba(25, 99, 186, 0.6);
	width: 170px;
	padding: 105px 0 20px 0;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
}
.header-basket-content.active{
	display: block;
}
.basket-products span,
.basket-price span{
	font-weight: bold
}
.basket-order{
	margin: 12px 0 0 0;
}
.basket-order-btn{
	display: inline-block;
	padding: 10px 34px;
	background: #12498a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 15px;
	line-height: 1;
	font-weight: bold;
}
.basket-order-btn:hover{
	background: #ee4a36;
	color: #fff;
}
.adaptive-header{
	display: none;
}

/*------------------------------------------------------------
Main menu container
------------------------------------------------------------*/

.main-menu-container{
	padding: 20px 0;
	background: #deedff;
}
.main-menu{
	text-align: center;
}
.main-menu ul{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.main-menu__item{
	display: table-cell;
	vertical-align: middle;
}
.main-menu__item-link{
	font-size: 20px;
	line-height: 1;
	font-weight: bold;
}

/*------------------------------------------------------------
Main slider container
------------------------------------------------------------*/

.main-slider-container{
	height: 340px;
	background: #c4dfff;
}
.main-slider-container .wrapper,
.main-slider-container .owl-carousel,
.main-slider-container .owl-carousel .owl-stage-outer,
.main-slider-container .owl-carousel .owl-stage,
.main-slider-container .owl-carousel.owl-drag .owl-item,
.main-slider-item{
	height: 100%;
}
.main-slider-image-col{
	float: left;
	width: 55%;
	height: 100%;
	position: relative;
}
.main-slider-image{
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}
.main-slider-text-col{
	padding: 0 30px;
	float: left;
	width: 45%;
	height: 100%;
}
.main-slider-col-t{
	height: 100%;
	display: table;
}
.main-slider-col-vamiddle{
	display: table-cell;
	vertical-align: middle;
}
.main-slider-title{
	font-family: "Conv_MuseoSansCyrl-900";
	color: #1d1d1d;
	font-size: 60px;
	line-height: 1;
}
.main-slider-description{
	margin: 0 0 45px 0;
	font-family: "Conv_MuseoSansCyrl-300";
	color: #1d1d1d;
	font-size: 48px;
	line-height: 60px;
}
.main-slider-btn{
	display: inline-block;
	padding: 15px 25px;
	background: #ee4a36;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}
.main-slider-btn:hover{
	color: #fff;
	background: #12498a;
}
.main-slider-btn i{
	margin: 0 0 0 27px;
	display: inline-block;
	vertical-align: middle;	
	background: url(../images/i/btn-right-arrow.png) no-repeat;
	width: 35px;
	height: 11px;
	-webkit-transition: margin 0.1s linear 0s;
	-o-transition: margin 0.1s linear 0s;
	transition: margin 0.1s linear 0s;
}
.main-slider-btn:hover i{
	margin: 0 0 0 35px;
}
.main-slider .owl-nav{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 50px;
	margin: -25px 0 0 0;
}
.main-slider.owl-carousel .owl-nav div{
	position: absolute;
	display: inline-block;	
	width: 50px;
	height: 50px;
	background: red;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	background-color: #fff;
	text-indent: -9999px;
}
.main-slider.owl-carousel .owl-nav div:hover{
	background-color: #ee4a36;
}
.main-slider.owl-carousel .owl-nav .owl-next{
	background-image: url(../images/i/slider-right-blue-arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	right: 0;
}
.main-slider.owl-carousel .owl-nav .owl-prev{
	background-image: url(../images/i/slider-left-blue-arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	left: 0;
}
.main-slider .owl-dots{
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 18px;
	height: 12px;
	font-size: 0;
	text-align: center;
}
.main-slider.owl-carousel .owl-dot{
	display: inline-block;
	margin: 0 7px;
	width: 12px;
	height: 12px;
	background: #a6adb5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.main-slider.owl-carousel .owl-dot.active,
.main-slider.owl-carousel .owl-dot:hover{
	background: #4771a2;
}

/*----------------------------------------------------------------
Breadcrumbs container
----------------------------------------------------------------*/

.breadcrumbs-container{
	padding: 12px 0;
	background: #e9f3ff;
}
.breadcrumbs-item{
	display: inline-block;
	padding: 0 35px 0 0;
	position: relative;
	color: #12498a;
	font-size: 12px;
	line-height: 14px;
}
.breadcrumbs-item:last-child{
	padding: 0;
}
.breadcrumbs-item:after{
	position: absolute;
	right: 10px;
	top: 50%;
	content: "";
	background: #bbdaff;
	width: 10px;
	height: 1px;
}
.breadcrumbs-item:last-child:after{
	background: none;
}
.breadcrumbs-item__link{
	color: #88a6c8;
	font-size: 12px;
	line-height: 14px;
}

/*----------------------------------------------------------------
Product container
----------------------------------------------------------------*/

.product-container{
	padding: 50px 0;
}
.product-title{
	margin: 0 0 55px 0;
	padding: 0 0 0 70px;
	position: relative;
}
.product-title:before{
	position: absolute;
	left: 32px;
	top: 50%;
	content: "";
	background: url(../images/i/product-title-arrow-ico.png) no-repeat;
	width: 4px;
	height: 7px;
	margin: -2px 0 0 0;	
}
.product-title h1{
	color: #000;
	font-size: 35px;
	line-height: 1;
	font-weight: 400;
}







/*----------------------------------------------------------------
Product charact container
----------------------------------------------------------------*/

.product-charact-container{
	margin: 42px 0 0 0;
}
.product-charact-item{
	display: table;
	width: 100%;
	margin: 0 0 4px 0;
	border-bottom: 1px solid #e1e1e1;
}
.product-charact-item:last-child{
	margin: 0;
}
.product-charact-item-leftcol,
.product-charact-item-rightcol{
	display: table-cell;
	vertical-align: middle;
	padding: 17px 15px 17px 35px;
	color: #000;
	font-size: 16px;
	line-height: 18px;
}
.product-charact-item-leftcol{
	background: #f3f3f3;
	width: 65%;
	font-weight: bold;
}
.product-charact-item-rightcol{
	background: #ececec;
	width: 35%;
}

/*----------------------------------------------------------------
Best proposal container
----------------------------------------------------------------*/

.best-proposal-container{
	background: #f2f8ff;
	height: 400px;
}
.best-proposal-slider .owl-dots{
	position: absolute;
	left: 0;
	width: 100%;
	bottom: -15px;
	height: 30px;
	font-size: 0;
	text-align: center;
	counter-reset: proposal-counter;
}
.best-proposal-slider .proposal-item{
	height: 400px;
}
.best-proposal-slider .owl-dot{
	display: inline-block;
	position: relative;
	margin: 0 15px;
	width: 30px;
	height: 30px;
	border: 1px solid #12498a;
	background: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	counter-increment: proposal-counter;
}
.best-proposal-slider .owl-dot:before{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: counter(proposal-counter);
	color: #12498a;
	font-size: 16px;
	line-height: 28px;	
	font-weight: bold;
	text-align: center;
}
.best-proposal-slider .owl-dot.active{
	background: #12498a;
	color: #fff;
}
.best-proposal-slider .owl-dot:hover{
	background: #12498a;
}
.best-proposal-slider .owl-dot:hover:before,
.best-proposal-slider .owl-dot.active:before{
	color: #fff;
}






/*----------------------------------------------------------------
Category container
----------------------------------------------------------------*/

.category-container{
	padding: 50px 0 60px;
}
.section-title{
	margin: 0 0 30px 70px;
	color: #231f20;
	font-size: 30px;
	line-height: 1;
	font-weight: bold;
}
.category-list{
	margin: 0 -15px;
	font-size: 0;
	text-align: center;
}
.category-col{
	display: inline-block;
	width: 14.2%;
	padding: 0 15px;
}
.category-item{
	padding: 25px 0 30px 0;
}
.category-item--active,
.category-item:hover{
	background: rgba(160, 198, 219, 0.25);
}
.category-item__image{
	margin: 0 0 25px 0;
	width: 100%;
	height: 110px;
	display: table;	
	text-align: center;
}
.category-item__image-valign{
	display: table-cell;
	vertical-align: middle;
}
.category-item__title-link{
	color: #12498a;
	font-size: 15px;
	line-height: 1.2;
}
.category-item--active .category-item__title-link{
	color: #ee4a36;
}

/*----------------------------------------------------------------
feature container
----------------------------------------------------------------*/

.feature-list{
	font-size: 0;
}
.feature-col{
	display: inline-block;
	width: 33.3333%;		
}
.feature-col--green{
	-webkit-box-shadow: 0px 0px 75px 0px rgba(154, 211, 46, 1);
	-moz-box-shadow:    0px 0px 75px 0px rgba(154, 211, 46, 1);
	box-shadow:         0px 0px 75px 0px rgba(154, 211, 46, 1);
	position: relative;
	z-index: 3;
}
.feature-col--blue{
	-webkit-box-shadow: 0px 3px 75px 0px rgba(95, 147, 255, 1);
	-moz-box-shadow:    0px 3px 75px 0px rgba(95, 147, 255, 1);
	box-shadow:         0px 3px 75px 0px rgba(95, 147, 255, 1);
	position: relative;
	z-index: 2;
}
.feature-col--yellow{
	-webkit-box-shadow: 0px 3px 75px 0px rgba(255, 203, 42, 1);
	-moz-box-shadow:    0px 3px 75px 0px rgba(255, 203, 42, 1);
	box-shadow:         0px 3px 75px 0px rgba(255, 203, 42, 1);
}
.feature-item{
	height: 180px;
}
.feature-item-ico{
	height: 100%;
	float: left;
	width: 50%;	
	background-size: cover;
	background-position: center;
}
.feature-item-ico-1{
	background: url(../images/i/feature-ico-1.png) no-repeat;
}
.feature-item-ico-2{
	background: url(../images/i/feature-ico-2.png) no-repeat;
	background-position: right center;
}
.feature-item-ico-3{
	background: url(../images/i/feature-ico-3.png) no-repeat;
}
.feature-item-inner{
	float: left;
	width: 50%;
	padding: 22px 5px 0 5px;
	text-align: left;
}
.feature-item-inner__title{
	margin: 0 0 20px 0;
	color: #fff;
	font-size: 20px;
	line-height: 1.2;
	font-weight: bold;
}
.feature-item-inner__btn{
	display: inline-block;
	padding: 10px 45px;
	border: 2px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 15px;
	line-height: 1;
	font-weight: bold;
	text-align: center;
}
.feature-item-inner__btn:hover{
	background: #fff;
	text-decoration: none;
}
.feature-col--green .feature-item-inner__btn:hover{
	color: #9ad32e;
}
.feature-col--blue .feature-item-inner__btn:hover{
	color: #5f93ff;
}
.feature-col--yellow .feature-item-inner__btn:hover{
	color: #ffcb2a;
}
.feature-col--green .feature-item{
	background: #9ad32e;
}
.feature-col--blue .feature-item{
	background: #5f93ff;
}
.feature-col--yellow .feature-item{
	background: #ffcb2a;
}

/*----------------------------------------------------------------
Popular container
----------------------------------------------------------------*/

.popular-container{
	padding: 70px 0;
}
.popular-slider{
	margin: -35px 0 0 0;
	padding: 0 85px;
}
.popular-item{
	margin: 35px;
	-webkit-box-shadow: 0px 3px 35px 0px rgba(204, 204, 204, 0.65);
	-moz-box-shadow:    0px 3px 35px 0px rgba(204, 204, 204, 0.65);
	box-shadow:         0px 3px 35px 0px rgba(204, 204, 204, 0.65);
	padding: 0 20px 20px;
}
.popular-item__image{
	display: table;
	height: 320px;
	width: 100%;
	text-align: center;
}
.owl-carousel .owl-item .popular-item__image img{
	width: auto;
	display: inline;
}
.popular-item__image-valign{
	display: table-cell;
	vertical-align: middle;
}
.popular-item__title{
	height: 50px;
}
.popular-item__title-link{
	color: #12498a;
	font-size: 15px;
	line-height: 1.2;
	font-weight: bold;
}
.popular-price-value{
	display: inline-block;
	color: #1d1d1d;
	font-size: 20px;
	line-height: 1;
	font-weight: bold;
}
.popular-price-ico{
	margin: 0 0 0 12px;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/i/price-ico.png) no-repeat;
	width: 14px;
	height: 14px;
	cursor: pointer;
}
.popular-slider .owl-nav{
	position: absolute;
	left: 0;
	bottom: 50%;
	width: 100%;
	height: 50px;
	margin: 0 0 -25px 0;
}
.popular-slider.owl-carousel .owl-nav div{
	position: absolute;
	display: inline-block;	
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	background-color: #12498a;
	text-indent: -9999px;
}
.popular-slider.owl-carousel .owl-nav div:hover{
	background-color: #ee4a36;
}
.popular-slider.owl-carousel .owl-nav .owl-next{
	background-image: url(../images/i/slider-arrow-right-big-ico.png);
	background-position: center;
	background-repeat: no-repeat;
	right: 0;
}
.popular-slider.owl-carousel .owl-nav .owl-prev{
	background-image: url(../images/i/slider-arrow-left-big-ico.png);
	background-position: center;
	background-repeat: no-repeat;
	left: 0;
}

/*----------------------------------------------------------------
Service container
----------------------------------------------------------------*/

.service-container{
	padding: 50px 0;
	background: #e9eff5;
}
.service-list{
	text-align: justify;
	line-height: 0;
	font-size: 1px;
}
.service-list:after{
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}
.service-col{
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.service-item{
	text-align: left;
}
.service-item__image{
	margin: 0 0 25px 0;
}
.service-item__title{
	margin: 0 0 20px 0;
	padding: 0 0 0 32px;
	position: relative;
}
.service-item__title:before{
	position: absolute;
	left: 0;
	top: 2px;
	content: "";
	background: url(../images/i/service-title-ico.png) no-repeat;
	width: 16px;
	height: 16px;
}
.service-item__title-link{
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}
.service-item__description{
	color: #231f20;
	font-size: 14px;
	line-height: 20px;
}

/*----------------------------------------------------------------
Advantage container
----------------------------------------------------------------*/

.advantage-container{
	padding: 65px 0;
}
.advantage-list{
	font-size: 1px;
	line-height: 0;
	text-align: justify;
}
.advantage-list:after{
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}
.advantage-col{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
.advantage-item{
	display: table;
	width: 100%;
}
.advantage-item__ico{
	display: table-cell;
	vertical-align: middle;
	width: 70px;
}
.advantage-col:nth-child(4) .advantage-item__ico{
	width: 50px;
}
.advantage-col:nth-child(5) .advantage-item__ico{
	width: 80px;
}
.advantage-item__text{
	display: table-cell;
	vertical-align: middle;
	color: #1d1d1d;
	font-size: 16px;
	line-height: 1.2;
	font-weight: bold;
}

/*----------------------------------------------------------------
About container
----------------------------------------------------------------*/

.about-container{
	padding: 0 0 60px 0;
}
.about-container__text p{
	margin: 0 0 35px 0;
	color: #231f20;
	font-size: 16px;
	line-height: 30px;
}
.about-container__text p:last-child{
	margin: 0;
}

/*----------------------------------------------------------------
Post container
----------------------------------------------------------------*/

.post-container{
	padding: 60px 0;
}
.post-container-row{
	font-size: 0;
	margin: 0 -15px;
}
.post-container-col{
	float: left;
	width: 50%;
	padding: 0 15px;
}
.post-container-col__heading{
	margin: 0 0 35px 0;
}
.post-container-col__title{
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px 0 0;
	color: #231f20;
	font-size: 30px;
	line-height: 1;
	font-weight: bold;
}
.post-container-col__allnews{
	display: inline-block;
	vertical-align: bottom;
}
.post-container-col__allnews-link{
	color: #ee4a36;
	font-size: 15px;
	line-height: 20px;
	text-decoration: underline;
}
.post-container-col__allnews-link:hover{
	color: #12498a;
	text-decoration: none;
}
.news-post{
	margin: 0 0 40px 0;
}
.news-post:last-child{
	margin: 0;
}
.news-post-title{
	margin: 0 0 15px 0;
}
.news-post-title__link{
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
}
.news-post-date{
	margin: 0 0 15px 0;
	padding: 0 0 0 19px;
	position: relative;
	font-size: 13px;
}
.news-post-date:before{
	position: absolute;
	left: 0;
	top: 50%;
	content: "";
	background: url(../images/i/date-ico.png) no-repeat;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 0;
}
.news-post-text{
	font-size: 14px;
	line-height: 20px;
}
.faq-slider{
	background: #dbe3ed;
	padding: 32px 35px 60px 130px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}
.faq-slider:before{
	position: absolute;
	left: 54px;
	top: 25px;
	content: "";
	background: url(../images/i/faq-ico.png) no-repeat;
	width: 45px;
	height: 43px;
}
.faq-item__title{
	margin: 0 0 20px 0;
	color: #1d1d1d;
	font-size: 20px;
	line-height: 1;
	font-weight: bold;
}
.faq-item__text{
	color: #1d1d1d;
	font-size: 14px;
	line-height: 20px;
}
.faq-slider .owl-nav{
	position: absolute;
	left: 0;
	bottom: -15px;
	width: 100%;
	text-align: center;
}
.faq-slider.owl-carousel .owl-nav div{
	display: inline-block;
	margin: 0 10px;
	width: 30px;
	height: 30px;
	background: red;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	background-color: #ee4a36;
}
.faq-slider.owl-carousel .owl-nav div:hover{
	background-color: #12498a;
}
.faq-slider.owl-carousel .owl-nav .owl-next{
	background-image: url(../images/i/slider-arrow-right-small-ico.png);
	background-position: center;
	background-repeat: no-repeat;
}
.faq-slider.owl-carousel .owl-nav .owl-prev{
	background-image: url(../images/i/slider-arrow-left-small-ico.png);
	background-position: center;
	background-repeat: no-repeat;
}

/*----------------------------------------------------------------
Contacts container
----------------------------------------------------------------*/

.contacts-container{
	position: relative;
	height: 330px;
}
#contacts-map{
	height: 330px;
}
.contacts-right-col{
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 35%;
	padding: 0 0 0 40px;
	background: #c4dfff;
	z-index: 1;
}
.contacts-right-table{
	display: table;
	height: 100%;
	width: 100%;
}
.contacts-list{
	display: table-cell;
	vertical-align: middle;
}
.contacts-item{
	margin: 0 0 30px 0;
}
.contacts-item:last-child{
	margin: 0
}
.contacts-item__ico{
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	margin: 0 25px 0 0;
	background-color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.contacts-item__ico-address{
	background-image: url(../images/i/contacts-address-ico.png);
	background-position: center;
	background-repeat: no-repeat;
}
.contacts-item__ico-tel{
	background-image: url(../images/i/contacts-tel-ico.png);
	background-position: center;
	background-repeat: no-repeat;
}
.contacts-item__ico-email{
	background-image: url(../images/i/contacts-email-ico.png);
	background-position: center;
	background-repeat: no-repeat;
}
.contacts-item__value{
	display: inline-block;
	vertical-align: middle;
}
.contacts-address{
	color: #231f20;
	font-size: 17px;
	line-height: 20px;
}
.contacts-tel-col{
	display: inline-block;
	margin: 0 15px 0 0;
	color: #231f20;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
}
.contacts-tel-row{
	margin: 0 0 7px 0;
}
.contacts-tel-row:last-child{
	margin: 0;
}
.contacts-tel-number{
	color: #231f20;
}
.contacts-worktime-col{
	display: inline-block;
	vertical-align: bottom;
	color: #231f20;
	font-size: 10px;
	line-height: 14px;
}
.contacts-email{
	color: #231f20;
	font-size: 15px;
}
.contacts-email-link{
	color: #ee4a36;
	font-weight: bold;
	text-decoration: underline;
}
.contacts-email-link:hover{
	color: #12498a;
	text-decoration: none;
}	

/*----------------------------------------------------------------
Footer
----------------------------------------------------------------*/

.footer{
	margin: 70px 0 0 0;
}
.footer-logo{
	margin: 0 0 35px 0;
}
.footer-copyright p{
	color: #231f20;
	font-size: 14px;
	line-height: 20px;
}
.footer-bottom-container{
	margin: 3px 0 0 0;
	padding: 50px 0;
	background: #deedff;
}
.footer-logo-col,
.footer-menu-col,
.footer-soc-col{
	float: left;
	width: 33.3333%;
}
.footer-logo-col,
.footer-menu-col{
	position: relative;
}
.footer-logo-col{
	left: -33.3333%;
}
.footer-menu-col{
	left: 33.3333%;
}
.footer-menu{
	float: left;
	width: 50%;
}
.footer-menu__item{
	margin: 0 0 22px 0;
}
.footer-menu__item:last-child{
	margin: 0;
}
.footer-menu__item-link{
	color: #231f20;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}
.footer-soc-col{
	text-align: right;
}
.soc-list{
	margin: 0 0 32px 0;
	font-size: 0;
}
.soc-item{
	display: inline-block;
	margin: 0 0 0 14px;
}
.soc-item__link{
	display: block;
	width: 38px;
	height: 38px;
}
.soc-item__vk{
	background: url(../images/i/vk-ico.png) no-repeat;
}
.soc-item__fb{
	background: url(../images/i/fb-ico.png) no-repeat;
}
.soc-item__tw{
	background: url(../images/i/tw-ico.png) no-repeat;
}
.soc-item__ok{
	background: url(../images/i/ok-ico.png) no-repeat;
}
.soc-item__mailru{
	background: url(../images/i/mailru-ico.png) no-repeat;
}
.soc-item__gp{
	background: url(../images/i/gp-ico.png) no-repeat;
}

/*----------------------------------------------------------------
Adaptive styles
----------------------------------------------------------------*/

@media only screen and (max-width: 1366px){

	.wrapper{
		padding: 0 15px;
	}
	.main-slider-container .wrapper{
		padding: 0;
	}
	.main-slider-image{
		background-position: right center;
	}
	.popular-slider{
		padding: 0 60px;
	}

}


@media only screen and (max-width: 1200px){
	
	.header-opt-col{
		display: none;
	}
	.header-telephone-col{
		width: 20%;
	}
	.header-contacts-col{
		width: 25%;
	}
	.feature-list{
		text-align: center;
	}
	.feature-col{
		width: 50%;
	}
	.feature-item-ico-2{
		background-position: left center;
	}
	.category-col{
		margin: 0 0 20px 0;
		width: 20%;
	}
	.contacts-right-col{
		width: 50%;
	}

}

@media only screen and (max-width: 1000px){
	
	.header-logo-col{
		width: 30%;
	}
	.header-cotton-col{
		width: 25%;
	}
	.header-contacts-col{
		display: none;
	}
	.header-telephone-col{
		width: 25%;
	}
	.header-basket-col{
		width: 20%;
		text-align: center;
	}
	

	.main-slider-image-col{
		width: 40%;
	}
	.main-slider-text-col{
		width: 60%;
		padding: 0 10px;
	}


	.category-col{
		width: 25%;
	}
	.feature-list{
		text-align: center;
	}
	.feature-col{
		width: 700px;
	}
	.service-col{
		width: 32%;
	}


	.advantage-list{
		margin: 0 -15px;
		font-size: 0;
		text-align: left;
	}
	.advantage-col{
		width: 33.3333%;
		margin: 0 0 30px 0;
		padding: 0 15px;
	}
	.advantage-item__ico,
	.advantage-col:nth-child(4) .advantage-item__ico,
	.advantage-col:nth-child(5) .advantage-item__ico{
		width: 75px;
	}


	.faq-slider{
		padding: 32px 35px 60px 80px;
	}
	.faq-slider:before{
		left: 20px;
	}

	.contacts-right-col{
		width: 55%;
	}

	.main-menu-container{
		display: none;
	}



	.product-charact-item-leftcol,
	.product-charact-item-rightcol{
		width: 50%;
	}


	.footer-menu-col,
	.footer-logo-col,
	.footer-soc-col{
		position: static;
		width: 100%;
		float: none;
	}
	.footer-logo-col{
		margin: 45px 0 30px;
	}
	.footer-soc-col{
		text-align: left;
	}
	.soc-item{
		margin: 0 14px 0 0;
	}
	
}


@media only screen and (max-width: 767px){
	
	
	.adaptive-menu-toggler{
		display: block;
	}
	.adaptive-header{
		display: block;
	}
	.header-top{
		display: none;
	}



	
	.main-slider-container{
		height: 130px;
	}
	.main-slider-title{
		font-size: 34px;
	}
	.main-slider-description{
		margin: 0;
		font-size: 27px;
		line-height: 30px;
	}
	.main-slider-btn-block{
		display: none;
	}
	.main-slider .owl-dots{
		bottom: -6px;
	}




	.section-title{
		margin: 0 0 25px 0;
		font-size: 24px;
		line-height: 30px;
	}
	.post-container-col__heading{
		margin: 0 0 25px 0;
	}
	.post-container-col__title{
		font-size: 24px;
	}

	.category-container,
	.service-container,
	.advantage-container,
	.about-container,
	.post-container{
		padding: 25px 0;
	}
	.popular-container{
		padding: 25px 0 70px 0;
	}

	.category-col{
		width: 33.3333%;
	}
	.feature-col{
		width: 100%;
	}
	.feature-col--green,
	.feature-col--blue,
	.feature-col--yellow{
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.popular-item__title{
		margin: 0 0 15px 0;
		height: auto;
	}

	.service-list{
		margin: 0 -15px;
		font-size: 0;
	}
	.service-col{
		margin: 0 0 40px 0;
		padding: 0 15px;
		width: 50%;
	}
	.service-col:last-child{
		margin: 0;
	}


	.advantage-col{
		width: 50%;
		margin: 0 0 30px 0;
	}
	.advantage-col:last-child{
		margin: 0;
	}
	

	.post-container-col{
		margin: 0 0 40px 0;
		width: 100%;
		float: none;
	}
	.post-container-col:last-child{
		margin: 0;
	}
	.news-post{
		margin: 0 0 25px 0;
	}

	
	.contacts-container{
		height: auto;
	}
	.contacts-right-col{
		padding: 30px 0;
		position: static;
		width: 100%;
	}
	.contacts-list{
		padding: 0 15px;
	}
	#contacts-map{
		height: 330px;
	}
	.footer{
		margin: 35px 0 0 0;
	}
	.footer-bottom-container{
		padding: 40px 0;
	}
	.footer-logo{
		margin: 0 0 15px 0;
	}

}

@media only screen and (max-width: 640px){

	.category-col{
		width: 50%;
	}
	.service-col{
		width: 100%;
	}
	.service-col:last-child{
		margin: 0;
	}
	.service-item__image img{
		width: 100%;
	}

	.product-charact-item{
		display: block;
	}
	.product-charact-item-leftcol,
	.product-charact-item-rightcol{
		display: block;
		width: 100%;
		padding: 10px 15px;
	}

}

@media only screen and (max-width: 480px){
	
	.adaptive-menu-container{
		width: 270px;
	}
	.adaptive-header-basket-block{
		margin: 0 0 0 10px;
	}


	.main-slider-image-col{
		display: none;
	}
	.main-slider-text-col{
		width: 100%;
		padding: 0 10px;
	}

	
	.category-list{
		margin: 0 -5px;
	}
	.category-col{
		padding: 0 5px;
	}


	
	.feature-item{
		height: auto;
	}
	.feature-item-ico{
		display: none;
	}
	.feature-item-inner{
		float: none;
		width: 100%;
		padding: 25px 15px;
	}
	

	.popular-slider{
		margin: -15px 0 0 0;
		padding: 0;
	}
	.popular-item__image{
		height: 240px;
	}
	.popular-slider .owl-nav{
		margin: 0;
		bottom: -55px;
	}
	.popular-item{
		margin: 15px;
	}
	.popular-slider.owl-carousel .owl-nav{
		text-align: center;
	}
	.popular-slider.owl-carousel .owl-nav div{
		position: static;
		margin: 0 10px;
	}



	


	.advantage-col{
		width: 100%;
	}



	.faq-slider{
		padding: 35px;
	}
	.faq-slider:before{
		background: none;
	}

	
	.contacts-item{
		text-align: center;
	}
	.contacts-item__ico{
		display: block;
		margin: 0 auto;
	}
	.contacts-item__value{
		display: block;
		margin: 15px 0 0 0;
	}

	.footer-menu{
		padding: 0 20px 0 0;
	}
	.soc-item{
		margin: 0 10px 0 0;
	}
	.soc-item:last-child{
		margin: 0;
	}

}