a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, td, video, tt,
u, ul, 
var{
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
table, table td{ 
	padding:0;
	border:none;
	border-collapse:collapse;
}
img{
	vertical-align:top;
	border: 0;
}
embed{ 
	vertical-align:top;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clear{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary{
    display: block;
}
textarea{
    overflow: auto;
    vertical-align: top;
}
:focus,
:active,
:hover{
    outline: none;
}
*{
	padding: 0;
	margin: 0;
}
*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
	width: 100%; 
	min-width: 320px;
	background: url(../images/layout-bg.jpg) center center no-repeat;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 18px;
	line-height: 25px;
}
a{	
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
ul,
li,
ol{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
img{
	max-width: 100%;
	height: auto;
}

/*------------------------------------------------------------
Layout
------------------------------------------------------------*/

.layout{
	overflow-x: hidden;
}

/*------------------------------------------------------------
Wrapper
------------------------------------------------------------*/

.wrapper{
	max-width: 980px;
	margin: 0 auto;	
}

/*------------------------------------------------------------
Header
------------------------------------------------------------*/

.header{
	padding: 30px 0;
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
}

/*------------------------------------------------------------
Fitness club container
------------------------------------------------------------*/

.fitness-club-container{
	padding: 50px 0 70px;
}
.fitness-club-row{
	margin: 0 -20px;
	font-size: 0;
}
.fitness-club-row:before,
.fitness-club-row:after{
    content: "";
    display: table;
}
.fitness-club-row:after{
    clear: both;
}
.fitness-club-col{
	display: inline-block;
	width: 50%;
	padding: 0 20px;
	margin: 0 0 67px 0;
}
.fitness-club-item{
	position: relative;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
.fitness-club-item__name{
	padding: 15px 30px;
	font-size: 30px;
	line-height: 32px;
	text-transform: uppercase;
	font-weight: 700;
}
.fitness-club-item__img img{
	width: 100%;
}
.fitness-club-item__content{
	min-height: 160px;
	padding: 15px 15px 15px 25px;
}
.fitness-club-item__tel-link{
	color: #000;
	font-size: 48px;
	line-height: 1;
	font-weight: 700;
	text-decoration: none;
}
.fitness-club-item__tel-link:hover{
	color: #01aaad;
}
.fitness-club-item__address{
	margin: 7px 0 0 0;
	font-size: 18px;
	line-height: 25px;
}
.fitness-club-item__btn{
	position: absolute;
	left: 20px;
	bottom: -27px;
}
.fitness-club-item__btn-link{
	width: 262px;
	height: 55px;
	display: inline-block;
	background: #fff200;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
	color: #000;
	font-size: 19px;
	line-height: 55px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	text-decoration: none;
	-webkit-box-shadow: 3px 2px 0px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    3px 2px 0px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         3px 2px 0px 0px rgba(0, 0, 0, 0.3);
}
.fitness-club-item__btn-link:hover{
	background: #01aaad;
	color: #fff;
}

/*----------------------------------------------------------------
Adaptive styles
----------------------------------------------------------------*/

@media only screen and (max-width: 980px){

	.wrapper{
		padding: 0 20px;
	}
	.fitness-club-item__tel-link{
		font-size: 26px;
	}

}

@media only screen and (max-width: 767px){
	
	.fitness-club-col{
		width: 100%;
	}
	.fitness-club-col:last-child{
		margin: 0;
	}
	.fitness-club-item__content{
		min-height: auto;
		padding: 15px 15px 45px 15px;
	}
	
}

@media only screen and (max-width: 480px){
	
	.fitness-club-item__name{
		font-size: 18px;
		line-height: 22px;
	}	
	.fitness-club-item__btn{
		right: 20px;
	}
	.fitness-club-item__btn-link{
		width: 100%;
		font-size: 16px;
	}

}